#menu{height:40px; margin:50px; text-align:center;}
.menuBox{height:35px; border:0px solid green; padding-left:20px; display:inline;}
.menuBox span{text-decoration:none;color:#000000;font:Verdana, sans-serif;font-size:12px; font-weight:normal;}
.menuBox span.current{font:Verdana, sans-serif; font-size:18px; font-weight:normal;padding:5px 0px 10px 0px;}
#basketH h1{font:Verdana, sans-serif; font-size:18px; font-weight:normal; color:#0099ff;padding:0px 0px 0px 37px;}
#basketBox{width:565px;position:relative; margin:0 auto; margin-top:25px; padding:45px 0px 45px 40px;border: 3px solid #0099ff; background:#f2f2f2;}
#basketBox.noMargin{padding-bottom:0;}
#basketBox a{font-weight:bold; color:#006699}
.basketItem{min-height:20px;height:auto;width:565px;margin-bottom:20px;}
.basketItemText{min-height:20px;height:auto;width:180px;float:left;padding:0px 40px 0px 0px;}
.basketItemText a{font:Verdana, sans-serif; font-size:12px; font-weight:bold; color:#000000;}
.basketItemField{height:20px;height:auto;width:27px;float:left;margin:0px 0px 0px 0px;}
.itemField{width:22px;}
.od{min-height:20px;height:auto;width:30px;float:left;margin:0px 0px 0px 2px;}
.od p{font:Verdana, sans-serif; font-size:14px; font-weight:normal; color:#000000;}
.basketItem .price{min-height:20px;height:auto;width:80px;float:left;padding:0px 0px 0px 70px;}
.price p{font:Verdana, sans-serif; font-size:12px; font-weight:bold; color:#000000;}
.deleteItem{min-height:20px;height:auto;width:70px;float:left;padding:0px 0px 0px 10px;}
.deleteItem a{font:Verdana, sans-serif; font-size:11px; font-weight:bold; color:#ff0000;}

#itogi{height:20px;width:565px;margin-top:10px;}
#itogi p{font:Verdana, sans-serif; font-size:15px; font-weight:bold; color:#669933; text-align:center;}
#itogiSummBox{height:27px;width:565px;margin:0px 0px 0px 0px;}
#itogiSumm{height:27px;width:170px;margin:0px 0px 0px 195px;background-color:#669933;}
#itogiSumm p{font:Verdana, sans-serif; font-size:17px; font-weight:normal; color:#ffffff; text-align:center;padding:3px 0px 0px 0px;}
#allrightBox{height:140px;width:240px;position:relative; margin:0 auto; padding-left:40px;}
#allright{height:24px;width:196px;margin:43px 0px 0px 0px;}
#heartBasket{height:150px; width:250px;margin:0px 0px 0px 0px;}
#heartBasket p{margin:0px 0px 0px 160px;}


#basketBox2{min-height:430px;height:auto;width:565px;float:left;margin:10px 0px 0px 150px; padding:20px 0px 0px 0px;border:3px solid #0099ff;background:#f2f2f2;}
#basketBox2 p{font:Verdana, sans-serif; font-size:13px; font-weight:normal; color:#000000;padding:0px 0px 0px 40px;}
#basketBox2 a{font:Verdana, sans-serif; font-size:12px; font-weight:bold; color:#006699;}
.formTextBox2{min-height:20px;height:auto;width:565px;float:left;margin:20px 0px 0px 0px;}
.formTextBox2 p{font:Verdana, sans-serif; font-size:13px; font-weight:normal; color:#000000;padding:0px 0px 0px 40px;}
.formText{min-height:20px;height:auto;width:160px;float:left;margin:0px 0px 0px 0px;}
.formItem{width:200px;float:left;margin:0px 0px 0px 0px;}
.bigFieldBox{height:85px;width:400px;float:left;margin:0px 0px 0px 0px;}
.bigFieldBox p{font:Verdana, sans-serif; font-size:13px; font-weight:normal; color:#000000;padding:0px 0px 0px 0px;}
.bigFieldBox h6{font:Verdana, sans-serif; font-size:11px; font-weight:normal; color:#000000;padding:0px 0px 0px 40px;}
.bigField{height:50px;width:320px;float:left;margin:0px 0px 0px 40px;}
#registerBox{height:30px; width:500px;float:left;margin:40px 0px 0px 0px;}
#registerFoto{height:20px; width:25px;float:left;margin:3px 0px 0px 40px;}
#registerBox p{font:Verdana, sans-serif; font-size:13px; font-weight:normal; color:#666666;padding:0px 0px 0px 0px;}
#nextPreviews{min-height:90px; height:auto;width:657px; position:relative; margin:65px auto 0; padding-left:35px;}
#backBox{height:40px;width:240px;float:left;margin:0px 0px 0px 0px;}
#back{height:24px;width:196px;float:left;margin:0px 0px 0px 0px;}
#allrightBox2{height:90px;width:230px;float:right;margin:0px 0px 0px 0px;}
#allright2{height:24px;width:196px;float:left;margin:0px 0px 0px 0px;}
#heartBasket2{height:60px; width:230px;float:left;margin:0px 0px 0px 0px;}
#heartBasket2 p{margin:0px 0px 0px 160px;}



.finishItem{min-height:20px;height:auto;width:565px;margin:15px 0px 0px 0px;}
.finishItemText{min-height:20px;height:auto;width:190px;float:left;padding:0px 0px 0px 45px;}
.finishItemText h2{font:Verdana, sans-serif; font-size:13px; font-weight:bold; color:#000000;}
.odFinish{min-height:20px;height:auto;width:100px;float:left;margin:0px 0px 0px 40px;}
.odFinish h3{font:Verdana, sans-serif; font-size:12px; font-weight:normal; color:#000000;}
.priceFinish{min-height:20px;height:auto;width:100px;float:left;margin:0px 0px 0px 30px;}
.priceFinish h2{font:Verdana, sans-serif; font-size:13px; font-weight:bold; color:#000000;}
#summBox{height:30px;width:430px;float:left;margin:20px 0px 40px 30px;}
#summFinish{height:40px;width:85px;float:right;margin:0px 0px 0px 0px;border-top: 1px solid black;}
#summFinish h4{font:Verdana, sans-serif; font-size:13px; font-weight:bold; color:#000000;margin:3px 0px 0px 30px;}
#contactsFinishBox{height:40px;width:500px;float:left;margin:0px 0px 0px 35px;}
.contactsFinish{height:40px;width:auto;float:left;margin:0px 0px 0px 5px;}
.contactsFinish h3{font:Verdana, sans-serif; font-size:13px; font-weight:normal; color:#000000;}
.contactsFinish h4{font:Verdana, sans-serif; font-size:13px; font-weight:bold; color:#000000;margin:0px 0px 0px 0px;}

.cartBreadCrumb{color:#ccc; font-weight:normal;}
.cartBreadCrumb.current{color:#FF6600; font-weight:bold;}
#cartContainer{width:auto; margin:0 12px;}
#cartContents td.productImage img{border:1px solid #999;}
#cartContents{width:100%}

#cartContents th div{ font-size:12px; position:relative; top:15px; font-weight:normal;}
#cartContents th, #cartContents td{text-align:center; padding:0 9px;}
#cartContents td.price,
#cartContents td.quantity,
#cartContents td.delete{padding-top:25px;}

#cartContents td.quantity input{width:25px; text-align:right;}
#cartContents td.name{text-align:left;}
#cartContents td.productImage{width:62px;}

#cartContents td.name div.name a{font-size:12px; color:Black; top:-5px; position:relative;}
#cartContents td.name div.description{font-size:9px; padding-top:10px;}
#cartContents td.price{font-size:18px;}

#totalAmount .left{background:transparent url(img/totalLeft.png) no-repeat; height:24px; padding-left:8px;}
#totalAmount .right{background:transparent url(img/totalRight.png) no-repeat top right; height:24px; padding-right:8px;}
#totalAmount .bg{color:White; font-size:20px; background:transparent url(img/totalBg.png) repeat-x; height:24px;}
#totalAmount .bg span{font-size:10px;}
#totalAmount div{float:left;}
.totalLabel{float:none; position:relative; font-size:9px; color:#FF6600; margin-top:-36px; height:0; clear:both; z-index:100;}

div#totalLine{border-top:3px solid #ff6600; position:relative; top:-27px;}

#proceedContainer{padding-top:2px; color:#ff6600; font-weight:bold; position:relative; margin:0 auto; margin-top:30px; margin-bottom:40px; padding-right:10px;  width:191px; height:24px; background:transparent url(img/proceedBg.jpg) no-repeat top right; font-size:14px;}
#proceedContainer a{color:White; font-weight:normal;}

table.userInfo{width:100%;}

table.userInfo td{padding: 2px 3px;}

h2.cartPageTitle{font-size:12px; font-weight:bold; color:#ff6600;}
div#userInfoWrapper{width:585px; position:relative; margin:0 auto; padding:25px 0 50px 0;}

.labelCell{ font-size:12px; color:black; height:40px;}
.labelCell span.comments{color:#999; font-size:9px;}
.validationError{color:Red; font-size:9px;}
td.validationError{width:200px;}
td.registerMePlease a{font-size: 12px; font-weight:bold; color:#ff6600;}
td.registerMePlease {font-weight:bold; font-size:12px; padding-top:25px !important;}

div.backAndForward{background: transparent url(img/proceedBg.jpg) no-repeat right;  margin-top:40px; padding-left:10px; padding-top:2px; height:22px; font-size:14px; text-align:right; height:24px;}
div.backAndForward{color:#ff6600; font-weight:bold;}
div.backAndForward div{float:left; background: transparent url(img/backArrow.jpg) no-repeat left; height:24px; width:92px; text-align:left; padding-left:10px; padding-top:2px; }
div.backAndForward input{border:0; background:transparent; text-decoration:underline; color:White;  width:110px; font-size:14px;}
div.backAndForward a{color:White; font-size:14px; font-weight:normal;}


.approveTitle{font-weight:bold; color:#0099ff; padding-right:10px;}
div.section{padding:10px 0; font-size:12px;}
table.orderItems{font-size:12px; margin:10px 0 10px 0;}
table.orderItems tr td{padding:5px 50px 5px 0;}


.acceptWrapper{width: auto; height: 250px; text-align:center; padding-top:150px;}
.orderAccepted{ color:#0099ff; font-size:35px; }
.youWillBeContacted{font-size:12px; padding-top:20px;}

.extendedSearchField{padding-bottom: 30px;}
.extendedSearchField input{width:515px;}
.extendedSearchField input:focus{border:1px solid #75ae39}
.extendedSearchButton{width:605px; position:relative; margin:0 auto; text-align:center;}
.userInfo select{width:150px;}

.searchCell{width:150px;font-size:12px; color:black; height:40px; font-weight:bold;}
.priceRange input{width:60px;}
.priceRange{font-size:12px; color:black; position:relative; left:-20px;}

.userInfo.extSearch .searchCellField{width:180px;}
.validationError .currency{font-size:12px; font-weight:bold; position:relative; left:-30px; color:#75ae39;}