*{margin:0; padding:0; font-family:Verdana;}
body{background:url(img/bg.jpg);}
#header, #underHeader, #searchText, #search, #contentBox, #footer{min-width:1240px;}
#header{height:92px; width:auto;background:#75ae39;}
#headerLinks{height:92px;width:345px;float:left;}
#headerLinks a{color:#cccccc;}
#headerLinks a:hover{color:#ffffff; text-decoration:none;}
#headerLinks h2{font:Verdana, Arial, Helvetica, sans-serif; font-size:10px;color:#ffffff;padding: 8px 0 0px 15px;}
#headerLinks p{font:Verdana, Arial, Helvetica, sans-serif; font-weight:700; font-size:13px; color:#ffffff;padding: 6px 0 0px 15px; color:Black;}
#headerLogo{width:304px;color:#ffffff;margin:0 auto; padding-top:30px;}
#headerContacts{height:52px;width:250px;float:right;margin: 10px 0 0 0px;}
#headerContacts h3{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:25px; color:#ffffff; margin: 7px 0 0 0px;}
#underHeader{height:35px; width:auto; background:white;}
#wellcome{height:30px; width:410px;float:left;}
#wellcome p{font:Verdana, sans-serif; font-size:10px; font-weight:bold; color:#669933;margin:10px 0px 0px 21px;}
#wellcome a, #wellcome span{color:#0099cc;}
#searchText{text-align:center; clear:both; background:white;}
#searchText p{color:#0099cc;font:Verdana, sans-serif; font-size:15px;font-weight:bold;}
#write{height:30px; width:300px;float:right;}
#write p{margin:5px 0px 0px 175px;}
#write a{font:Verdana, sans-serif; font-size:10px; font-weight:bold; color:#0099cc;}
#search {height:73px; width:auto; background:url(img/searchBg.jpg) repeat-x; text-align:center;}
#searchField {width:272px; text-align:center;}
#search p{color:#CC3366; text-align:center;}
#search a{font:Verdana, sans-serif; font-size:10px; font-weight:bold; color:#0099cc;}
#skidki {height:107px; width:auto;background:url(img/skidkiBg.jpg);}
#skidki h2{font:Verdana, sans-serif; font-size:15px; font-weight:bold; color:#cc0066; padding-left:45px; display:block; height:0px; position:relative; top:-20px;}

#skidki p, #skidki .productAttributesList{margin:4px 0px 0px 85px;font:Verdana, sans-serif; font-size:12px;}
/*#skidki .productAttributesList{font-size:12px; margin:4px 0px 0px 85px;}*/
#skidki h4{margin:4px 0px 0px 85px;font:Verdana, sans-serif; font-size:13px; font-weight:bold;color:#c70067}
#skidki a{color:#000000;font:Verdana, sans-serif; font-size:12px; font-weight:bold;}
.skidkiBox{height:97px; width:250px;float:left; margin:5px 0px 0px 65px; float:left;}

.skidkiBox .imgBox img{border:0;}
.skidkiBox .imgBox{height:97px; width:76px;float:left;border: 1px solid #c70067;margin:-5px 0px 0px 0px;}
#contentBox {min-height:1000px; height:auto; width:auto; }
#string {height:39px; width:auto; border-top:1px solid #000000; border-bottom: 1px solid #000000; margin:25px 57px; background:#FFFFFF;}
#currency{height:39px; width:240px;float:left;}
#currency p {font:Verdana, sans-serif; font-size:11px; font-weight:bold; color:#669933;margin:3px 0px 0px 20px;}
#currency h3 {font:Verdana, sans-serif; font-size:11px; font-weight:bold; color:#000000;margin:3px 0px 0px 20px;}
#currency a {font:Verdana, sans-serif; font-size:11px; font-weight:bold; color:#669933;}
#currency a.current {color:#ffffff; text-decoration:none; background-color:#669933;}
#blueText {height:39px; float:left; margin-top:4px;}
#blueText p{color:#0099cc;font:Verdana, sans-serif; font-size:20px;font-weight:bold; font-style:italic;}
#basket{height:39px; float:right; margin-right:20px;}
#basket p{font:Verdana, sans-serif; font-size:14px;margin:8px 0px 0px 240px;}
#basket a{color:#0099cc;font:Verdana, sans-serif; font-size:14px;}
#leftSide{height:auto; float:left; margin:27px 0px 0px 0px;}
#rightSide{min-height:850px; height:auto; width:auto; margin-left:201px; margin-right:230px;}
#rightmost{float:right; width:229px; padding-left:40px}
#content{min-height:800px; height:auto; width:auto; margin:27px 0px 0px 20px; background:#e8e8e8 url(img/leftContentBg.jpg) repeat-y;}

#content .contentWrapper{background:transparent url(img/rigthGridBg.jpg) repeat-y; min-height:800px; background-position:right top; padding:39px 82px 0px; padding-left:82px;}
#content{min-width:800px;}

#contentHeader{height:14px; background:url(img/contentHeaderBg.jpg) repeat-x; margin-right:2px; position:relative;}
#contentHeaderBgLeft{width:14px; height:14px;background:url(img/contentHeaderBgLeft.jpg); position:absolute; left:0;}
#contentHeaderBgRight{width:14px; height:14px;background:url(img/contentHeaderBgRight.jpg); position:absolute; right:0;}
#contentFooterBg{height:17px;background:url(img/contentFooterBg.jpg); margin:0px 0px 0px 20px;}
#contentFooterBg .left{float:left; width:14px; height:17px; background:transparent url(img/contentFooterBgLeft.jpg)}
#contentFooterBg .right{float:right; width:14px; height:17px; background:transparent url(img/contentFooterBgRight.jpg)}

#contentFooter{position:relative;}
#contentFooterMiddle{background: transparent url(img/contentFooter.png) repeat-x; height:15px; margin:0 9px 0 29px; }
#contentFooterLeft, #contentFooterRight{ height:15px; width:9px; position:absolute;}
#contentFooterLeft{background: transparent url(img/contentFooterLeft.png) no-repeat; left:20px; top:0;}
#contentFooterRight{background: transparent url(img/contentFooterRight.png) no-repeat; right:0; top:0;}

#footerDate{height:17px; border-bottom:1px solid black; margin-bottom:50px;}
#footerDate p{font:Verdana, sans-serif; font-size:10px; font-weight:bold; color:#666666;padding:3px 0px 0px 0px;}
#contentItem{width:460px; height:120px;margin:25px 0px 0px 100px;}
#contentItemFoto{width:100px; height:100px;margin:8px 0px 0px 0px;float:left;border: 1px solid #666666;}
#contentItemText{width:328px; height:120px;margin:1px 0px 0px 25px;float:left;}
#contentItemText p{font:Verdana, sans-serif; font-size:12px; font-weight:100; color:#000000;}
#contentAfterItems{ height:30px;border-top:1px solid black;margin-top:50px}
#contentAfterItemsFoto{width:485px; height:30px; background:url(img/fotoText.jpg) no-repeat;margin:5px 0px 0px 0px;}
#leftSide li{margin:7px 0px 0px 57px;list-style-type:none;}
#leftSide a{font:Verdana, sans-serif; font-size:12px; font-weight:bold; color:#0099cc;}
#leftSide span.current{font-size:12px; font-weight:bold;}
#leftSide a.current{font-size:12px; font-weight:bold; color:Black;}
#newsBox{height:auto;margin:30px 0px 0px 57px; position:absolute;}
#newsHeader{height:20px;width:125px;background:url(img/leftBox1Header.jpg) no-repeat;font-family:Tahoma, sans-serif;text-decoration:none;font-size:13px;font-weight: bold;text-align:center;border-bottom:4px solid #336633;margin:0px 0px 0px 4px;}
#newsHeader p{margin:2px 0px 0px -63px; padding-top:5px;color:#669933;}
#newsContent{min-height:170px;height:auto;width:132px;background:url(img/newsBg.jpg) repeat-y;}
#newsContent p{padding: 10px 0 0 8px;font-family:Verdana, sans-serif;text-decoration:none;font-size:10px;color:#0099ff;font-weight:bold;}
#newsContent h4{margin: 3px 0px 0 8px;font-family:Verdana, sans-serif;text-decoration:none;color:#0099ff;}
#newsContent a{color:#000000;font-size:10px;font-weight:100;}
#newsFooter{float:left;height:20px;width:125px;background:url(img/newsFooterBg.jpg) repeat-x;margin:0px 0px 0px 4px;}
#girl{height:350px; width:162px;float:left;margin:-350px 0px 0px 35px;}
#footer{height:37px; width:auto; margin:0px 0px 0px 0px; background:#75ae39;}
#footerCopy{height:37px; width:500px; float:left;}
#footerCopy p{font:Verdana, sans-serif; font-size:11px; font-weight:normal; color:#ffffff;margin:10px 0px 0px 80px;}
#footerRightBox{height:50px;min-width:15px;width:auto;float:right;background:url(img/footerRight.jpg) no-repeat right;padding:0px 65px 0px 0px;}
#footerRightBox a{color:White;}
#footerRightBox p{padding: 12px 0px 0px 8px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:12px;color:#ffffff;font-weight:100;}
.colortext{background:#ffffff;color:#75ae39;padding:0px 3px 3px 3px;}

.watermark, .searchWatermark, .extSearchWatermark{color:Gray; z-index:100;}
.searchWatermark{text-align:center; left:80px !important;}
.extSearchWatermark{left:210px !important;}
