<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings>
        <add key="DefaultLanguage" value="ru-RU" />
        <add key="EuroRate" value="0.09" />
        <add key="DollarRate" value="0.125" />
        <add key="RubleRate" value="3.8" />
        <add key="ReceiverMail" value="superi@inbox.ru" />
        <add key="PageSize" value="6" />
    </appSettings>
</configuration>