<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Import Namespace="Microsoft.Web.Mvc" %>
<%@ Import Namespace="Dev.Helpers" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<%
    if (Request.Cookies["mooo"] == null)
        Response.Redirect("~/index.html");

    bool showMenu = false;
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string contentName = string.Empty;
    string action = ViewContext.RouteData.Values["action"].ToString();
    if (ViewContext.RouteData.Values.ContainsKey("contentName"))
    { 
        contentName = ViewContext.RouteData.Values["contentName"].ToString();
    }
    showMenu = (controller == "Articles" || contentName == "LifeStyle" || action == "Broadcast");
%>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <meta name="Description" content="<%=ViewData["description"]%>"/>
    <meta name="Keywords" content="<%=ViewData["keywords"]%>"/>
    <title><%= Html.ResourceString("Elena") %> &mdash; <asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <asp:ContentPlaceHolder ID="Includes" runat="server"></asp:ContentPlaceHolder>
</head>

<body>
<div id="main">
    <div id="left">
        <div id="tv">
            <%= Html.Image("~/Content/img/{0}/tv.gif").Replace("{0}", LocaleHelper.GetCultureName()) %>
        </div>
        <% if (showMenu)
               Html.RenderPartial("LeftMenu");
           else
               Html.RenderPartial("LeftMenuCollapsed");    %>
        <div id="stick">
        </div>
    </div>
    <div id="right">
        <% Html.RenderPartial("LanguageBar"); %>
        <% Html.RenderPartial("MainMenu"); %>
        <div id="contentFrame">
            <div id="top"></div>
            <div id="titleContainer">
                <div id="title">
                    <asp:ContentPlaceHolder ID="HeadTitle" runat="server"></asp:ContentPlaceHolder>
                </div>
                <div id="subTitle">
                    <asp:ContentPlaceHolder ID="HeaderSubTitle" runat="server"></asp:ContentPlaceHolder>
                </div>
            </div>
            <div id="content">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>
            <div id="bottom"></div>
        </div>
    </div>
    <div id="footer">
        <div id="shtativLeg">
        </div>
        <div id="bonus">
            <%
                string[] ads = { "flowers.jpg", "hairdryer.png", "lacquer.png", "scissors.png" };
                Random rnd = new Random();
                string image = ads[rnd.Next(4)];
            %>
            <%= Html.Image("~/Content/img/adds/" + image)%>
        </div>
        <div id="copyright">
            <div style="float:left;">
                <%= Html.ResourceString("Copyright") %>
            </div>
            <div style="float:right;">
                <%= Html.ResourceString("MBrand") %>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
