*{margin:0px; padding:0px; border:none; font-family:Arial; color:#59412B;}
.fixPng{behavior: url(iepngfix.htc);}
body{background:black;}
.textBox{background:#EAEAEA; border:1px solid #A08278;}
#main{width:1149px; position:relative; margin:0 auto;}
#mainTop{height:379px; width:100%; float:left; clear:both;}

#mainTitle{float:left; color:#421100; font-family:Arial; font-size:22px; padding:10px 0px; clear:both; width:100%; text-transform:lowercase; text-align:center;background: transparent url(../images/mainBg.jpg) repeat;}

#topLeft{float:left; width:436px; height:379px; background:transparent url(../images/topLeft.jpg) no-repeat;}
#topMiddle{float:left; padding:46px 0px 0px 118px;   height:333px; width:162px; background:transparent url(../images/logo.jpg) no-repeat;}
#topRight{float:left; width:433px; height:379px; background:transparent url(../images/topRight.jpg) no-repeat;}
#homeMail{float:left;}
#mainBottom{width:100%; height:302px; background: transparent url(../images/mainBottom.jpg) no-repeat; float:left; clear:both}
#holiday, #man, #woman, #price{float:left; padding-top:1px;}
#holiday{ padding-left:213px;}
#man{padding-left:76px;}
#woman{padding-left:75px;}
#price{padding-left:60px;}


#mainMiddle{width:100%; padding-bottom:10px; background: transparent url(../images/mainBg.jpg) repeat; float:left; clear:both;}
#framesHolder{width:100%;}

#leftFrame, #rightFrame{float:left; margin-top:-25px;}
#framesHolder{padding-left:47px;}
#framesMiddle{width:100%; background:transparent url(../images/framesMiddle.jpg) repeat-y; float:left; clear:both;}
#leftFrameTop{width:477px; padding-right:93px; height:103px; float:left; background:transparent url(../images/ProductsTop.jpg) no-repeat;}
.frameBottomLeft, .frameBottomRight{width:477px; margin-top:-12px; float:left; height:103px;background:transparent url(../images/frameBottom.jpg) no-repeat;}
.frameBottomLeft{ padding-left:93px;}
#rightFrameTop{width:477px; height:103px; float:left; background:transparent url(../images/servicesTop.jpg) no-repeat;}

#bottomPictures{float:left; clear:both;}
#bottomLinks{float:left; clear:both; width:100%;}

#holidayLink, #manLink, #womanLink, #priceLink{float:left; padding-top:2px;}
.bottomLink{font-family:Arial; text-decoration:none; font-size:14px; color:#391F0F; font-weight:bold;}
#holidayLink{padding-left:230px;}
#manLink{padding-left:132px;}
#womanLink{padding-left:140px;}
#priceLink{padding-left:130px;}
#leftFrame{padding-left:65px;}
#rightFrame{padding-left:225px;}
.holidayBaloon
{
    background:transparent url("../images/holidayBaloon.png") no-repeat; 
    width:314px; 
    height:469px;
    behavior: url(iepngfix.htc);
    position:relative;
    left:300px;
    top:-578px;
	z-index:9999;
	padding-left:28px;
	padding-right:30px;
	float:left;
}

#screenCover,#progressShader  
{
    left:0px;
    top:0px;
    width:100%; 
    height:100%; 
    background:black;
    opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	position:absolute;
	z-index:9998;
	display:none;
}

#holidayBubbleTop
{
    padding-left:300px;
    padding-top:10px;
    position:absolute;
}

#holidayBubbleSearch{position:absolute; padding-bottom:10px; margin-top:60px; width:85%; border-bottom:1px solid #DAD7D4; float:left;}

#holidaySearch{height:20px;padding-top:1px;width:223px;}

.baloonTitle{margin-top:20px; font-size:18px; width:85%; border-bottom:1px solid #DAD7D4; position:absolute; padding-bottom:10px;}

#holidayBubbleList
{
    clear:both;
    float:left;
    height:275px;
    overflow:auto;
    width:80%;
    margin-top:95px;
    position:absolute;
    
}

.letterDivider{width:90%; margin:15px 0; border-bottom:1px solid #DAD7D4;}

#searchHoliday{cursor:pointer;}

.pricesBaloon    
{
    background:transparent url("../images/priceBaloon.png") no-repeat; 
    width:220px; 
    height:464px;
    behavior: url(iepngfix.htc);
    position:relative;
    left:578px;
    top:-578px;
	z-index:9999;
	padding-left:28px;
	padding-right:30px;
	float:left;
}

#priceBaloonTop{padding-left:206px;padding-top:10px; position:absolute;}

#pricesList{ padding-top:15px; margin-top:50px; position:absolute;}

.priceScope{text-decoration:none;}
.priceScope:hover{text-decoration:underline;}
#progressShader{text-align:center; z-index:10000000;}
#progressShader img{ position:relative; margin:auto; top:50%;}
