.carAddAdminImage{float:left; margin-right:5px;}
#imagesForm input[type='submit']{ clear:both; }
#imagesForm .deleteLink{display:block; float:left; margin-left:-24px; width:24px; height:24px; background:url(img/delete.gif)}
.carAddAdminImage img{float:left; display:block;}
.carAddAdminImage input{position:relative; float:left; left:-150px;}

#contentEditor input{width:100%;}
#contentEditor p{padding-bottom:30px;}

.routeContainer{float:left; margin-right:10px;}
.newRoute{clear:both; padding:5px; border:1px solid #868686; margin-top:10px;}