*{margin:0; padding:0; font-family:Verdana;}
img{border:0;}
.clearBoth{clear:both;}

#lang{height:50px;min-width:1000px;width:auto;margin:0px 35px 0px 35px;}
#langBox{height:16px;width:94px;float:right;background:url(img/eng.jpg) no-repeat;margin:0px 4px 0px 0px;}
#langBox p{padding: 0px 0px 0px 24px;font-family:Verdana, sans-serif;text-decoration:none;font-size:9px;color:#666666;font-weight:bold;}
#langBox a{color: #666666;}

#topBanner{text-align:center; min-width:1070px; height:32px; position:relative; z-index:100;}
#header{height:108px;width:auto;min-width:1000px;background:url(img/headerBg.jpg) #000099;margin:0px 35px 0px 35px;}
#headerLogo{height:108px;width:235px;float:left;}
#headerContacts
{
	height:85px;
	width:155px;
	background-color:#ffe000;
	color:#666666;
	float:right;
	background-image:url(img/headerContacts.jpg);
	padding-top:23px;
	padding-left:70px;
}
#headerContacts p {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;}

#boxheight:{height:100px;width:120px; width:auto;}
#box{position: relative; margin: 0px auto; width: 470px;}
.headerMenuItem
{
	height:20px;
	width:110px;
	margin-top:49px;
	padding-top:28px;
	padding-left:5px;
	background-color:#FFDC20; 
	float:left;
	border:1px solid #ffffff; 
	border-collapse:collapse;
	border-bottom:2px solid white;
}

.headerMenuItem:first-child
{
    border-left:2px solid white;
}

.headerMenuItem.last
{
    border-right:2px solid white;
}

.headerMenuItem.current
{
    background:#FFDC20 url(img/menuBottom.gif) repeat-x 0 100%;
    border-bottom:0;
    height:30px;
    padding-top:38px;
}
.headerMenuItem.current a{color:Black;}

.headerMenuItem a
{
	color:#333333;
	text-decoration:none;
}

.headerMenuItem:first-child
{
	border-left:2px solid white !important;	
}

/*start container*/
#container{height:auto;min-height:600px;width:auto;min-width:1000px;background-color:white;margin:50px 35px 0px 35px;}

#leftSide{margin: 32px 0 0 0;height:auto;min-height:450px;width:161px;background-color:white;float:left;}
#rightSide{margin: 32px 0 0 0;height:auto;min-height:450px;width:160px;background-color:#ffffff;float:right;}
/*car search start*/
#leftBoxCarSearch{height:145px;width:161px;}
#carSearchHeader{height:20px;width:161px;background:url(img/leftBox1Header.jpg) no-repeat;font-family:Tahoma, sans-serif;text-decoration:none;font-size:13px;font-weight: bold;text-align:center;}
#carSearchHeader p{padding-top:2px;}
#carSearchContent{height:101px;width:159px;border-left:1px solid #ffcc00;border-right:1px solid #ffcc00;}
#carSearchContent p{margin: 12px 0 0 60px;}
#searchField{margin: 9px 0 0 9px;width: 138px;}
#carSearchFooter{height:20px;width:161px;background:url(img/leftBox1Footer.jpg) no-repeat;margin-top:0px;}
/*car search finish*/

/*Swed start*/
#leftBoxSwed{margin: 20px 0 0 0;height:250px;width:161px;}
#swedHeader{
height:20px;width:161px;background:url(img/leftBox1Header.jpg) no-repeat;font-family:Tahoma, sans-serif;text-decoration:none;font-size:13px;font-weight: bold;text-align:center;}
#swedHeader p{padding-top:2px;}
#swedContent{height:196px;width:159px;border-left:1px solid #ffcc00;border-right:1px solid #ffcc00;}
#swedContent h4{padding: 14px 0 0 0;font-family:Tahoma, sans-serif;text-decoration:none;font-size:18px;color:#999999;font-weight:100;text-align:center;}
#swedContent p{padding: 33px 0 0 0;font-family:Tahoma, sans-serif;text-decoration:none;font-size:18px;color:#999999;font-weight: 100;text-align:center;}
#swedFooter{height:54px;width:161px;background:url(img/swedFooter.jpg) no-repeat;margin-top:0px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:10px;font-weight: 700;text-align:center;}
#swedFooter p{padding:7px 0 0 0;}
#swedFooter a{color:#000000;}
/*Swed finish*/
/*News start*/
#newsBox{height:250px;width:161px;}
#newsHeader{height:20px;width:161px;background:url(img/leftBox1Header.jpg) no-repeat;font-family:Tahoma, sans-serif;text-decoration:none;font-size:13px;font-weight: bold;text-align:center; text-transform:uppercase;}
#newsHeader p{padding-top:2px;}
#newsContent{min-height:230px;height:auto;width:159px;border-left:1px solid #ffcc00;border-right:1px solid #ffcc00;}
#newsContent p{padding: 19px 0 0 8px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:10px;color:#999999;font-weight:bold;}
#newsContent h4{margin: 3px 8px 0 8px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:11px;color:#000000;font-weight:normal;}
#newsContent a{color:#000000;}
#newsFooter{height:20px;width:161px;background:url(img/leftBox1Footer.jpg) no-repeat;}
/*News finish*/
/*Map start*/
#mapBox
{
    margin: 60px 0 0 0;
    height:261px;
    width:161px;
}
/*Map finish*/
#string{height:32px;width:auto;min-width:300px;position:relative;background-image:url(img/bg_string.jpg);position:relative;}
#string h2{font-family:Tahoma, sans-serif;text-decoration:none;font-size:17px;font-weight:100;margin-left:20px;float:left;}
#stringLeft{width:78px;height:32px;background:url(img/string_left.jpg) no-repeat;float:left;}
#stringRight{width:78px;height:32px;background:url(img/string_right.jpg) no-repeat;float:right;}

#content{height:auto;min-height:300px;width:auto;position:relative;margin-left:170px;margin-right:170px; font-size:0.8em;}
#contentBox{height:auto;width:auto;min-width:300px;min-height:300px;position:relative;padding:0px 40px 40px 40px;
background:#f7f6ef url(img/contentBoxBottomShadow.jpg) 0 100% repeat-x;}
#contentBoxLeftShadow{margin:0px 74px 0px 78px;height:auto;width:auto;background:transparent url(img/leftContentShadow.jpg) repeat-y;
padding-left:4px;margin-left:74px;}
#contentBoxRightShadow{height: auto;width:auto;padding-right:4px;background:transparent url(img/rightContentShadow.jpg) 100% 0 repeat-y;
vertical-align: text-bottom;}
#content li{list-style-type: none;font-family: Tahoma, Helvetica, sans-serif;font-weight:normal; font-size:13px;}
#content a{color:#3366ff;}
/*end container*/
#leftImageBox{margin:150px 0 0 -35px;width:auto;}
#leftImageBox div:first-child{float:right; position:relative; left:35px;}

#footer{height:50px;width:auto;min-width:1000px;margin:0px 30px 20px 30px;background:url(img/footerBg.jpg) repeat-x;}
#footerLeftBox{height:50px;width:15px;width:auto;float:left;background:url(img/footerLeft.jpg) no-repeat left;padding:0px 0px 0px 65px;}
#footerLeftBox p{padding: 12px 0px 0px 8px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:12px;color:#666666;font-weight:100;}
#footerRightBox{height:50px;min-width:15px;width:auto;float:right;background:url(img/footerRight.jpg) no-repeat right;padding:0px 65px 0px 0px;}
#footerRightBox p{padding: 12px 0px 0px 8px;font-family:Tahoma, sans-serif;text-decoration:none;font-size:12px;color:#666666;font-weight:100;}
.colortext{background:#000000;color:#ffe000;padding:0px 3px 3px 3px;}

a.colortext {text-decoration:none;}

/*CATALOG1 PAGE STYLE START*/
#classBox{height:250px;width:161px; margin:20px 0 20px 0; padding:0px 0 40px 0;}
.classMenuItems{height:225px; width:auto;}
.classMenuItem{width:auto; height: 15px; padding:10px 0px 0px 10px;color:#000000; font-family: Tahoma, Helvetica, sans-serif;font-weight:bold; font-size:13px;}
.classMenuItem a{color:#000000;font-size:12px;}
.subMenuItem{width:auto;padding:3px 0px 0px 20px;color:#000000;font-family: Tahoma, Helvetica, sans-serif;font-weight:normal;font-size:13px;}
li{list-style-type:none;}
.subMenuItem a:hover{background:#ffe000;}
#catalog{width:152px;width:auto;height:190px;height:auto;}
.clearBoth{clear:both;}
.carPreviewBox{width:152px;height:190px;float:left;padding:30px 0px 0px 30px;}
.carPreviewBox h3{font-family: Tahoma, Helvetica, sans-serif;font-weight:bold;font-size:12px;padding:4px 0px 3px 5px;}
.carPreviewBox a{color:#000000!important;}
.carPreviewBox p{font-family: Tahoma, Helvetica, sans-serif;font-weight:normal;font-size:11px;padding:1px 0px 0px 5px;}
.carPreviewBox h4{font-family: Tahoma, Helvetica, sans-serif;font-weight:bold;font-size:11px;padding:5px 0px 0px 5px;}
.carPreviewBox h4 a{color:#3399ff!important;}
.carPreviewPhoto{width:152px;height:115px;}
.carPreviewPhoto img{border:1px solid #989898;}
#greyCar{width:79px;height:104px; float:right; background:url(img/greyCar.jpg) no-repeat;margin:25px 0px 0px 0px;}
.line{border-top: 1px solid #ffcc00;text-align:center; padding:20px 0 0 0;font-family: Tahoma, Helvetica, sans-serif;font-weight:bold;font-size:12px;}
.line a{color:#000000 !important;}
/*CATALOG1 PAGE STYLE FINISH*/
/*CATALOG2 PAGE STYLE START*/
#bigPhoto{width:400px;height:190px;height:auto; margin:0 auto; position:relative;}
#bigPhotoBox{width:393px;height:250px;float:left;padding:30px 0px 0px 0px;}
#carPhotoViews{width:400px;height:71px;float:left; margin:71px 0px 0px 0px;}
.carPhoto{width:93px;height:71px;float:left; margin-right:7px;}
.carPhoto img {cursor:pointer;}
#carText{width:400px;height:190px;height:auto;float:left; margin:20px 0px 0px 0px;}
#carText h3{font-family: Tahoma, Helvetica, sans-serif;font-weight:bold;font-size:13px;padding:4px 0px 3px 0px;}
#carText h4{font-family: Tahoma, Helvetica, sans-serif;font-weight:normal;font-size:13px;padding:4px 0px 3px 0px;}
#bigPhoto p{font-family: Tahoma, Helvetica, sans-serif;font-weight:normal;font-size:13px;padding:4px 0px 3px 0px;text-align:center;}

#wasAdded
{
    text-align:center;
    padding-top:100px;
    font-size:14px;
    width:auto;
}
#wasAdded p{padding-top:20px;}
/*CATALOG2 PAGE STYLE FINISH*/

.errorHolder{font-size:9px; color:Red; text-align:right; height:10px;}