*{margin:0; padding:0; border:none; color:#656565}
body, html{height:100%;}
body{background:black}
#main{
    margin:auto;
    position:relative;
    width:1024px;
    height:768px;
}

#top, #middle, #bottom{width:inherit;}

#top{height:84px;}
#middle{height:616px; z-index:100; position:relative;}
#bottom{height:98px; z-index:-1; margin-top:-32px;}
#menu{padding:30px 20px;}
#menu li{float:left; list-style:none; padding-top:7px; font-size:16px; cursor:pointer; padding-right:10px;}
.currentSection{border-left:1px solid white; padding-top:0px !important; color:White !important; cursor:default; padding-left:10px;}
#subMenu{padding:4px 22px;}
#subMenu ul li{float:left; list-style:none; padding-right:10px;}
.subMenuItem, .subMenuItemActive{font-size:11px; text-decoration:none;}
.subMenuItem:hover{text-decoration:underline;}
.subMenuItemActive{color:White;}
#copyrigth{font-size:11px; padding-top:70px; float:left;}
#administration{border-left:1px solid white; color:White; font-size:11px; margin-left:850px; padding-left:10px; position:relative; top:20px;} 

.currentBackground, .newBackground{position:relative; z-index:0;}

/* Music related styles*/
.songsPlaceHolder
{
    position:absolute; 
    z-index:50; 
    padding-top:270px; 
    padding-left:20px; 
    display:none;
}

.songsPlaceHolder ul li
{
    list-style:none; 
    height:30px; 
    background:transparent url(../images/playButton.png) center left no-repeat;  
    float:left; 
    margin-left:-530px; 
    margin-right:10px;
    padding-left:10px; 
    padding-top:10px; 
    color:White; 
    cursor:pointer;
}
#flashContainer{position:relative; left:-3000px; width:1px; height:1px; overflow:hidden;}

/* End of music related styles*/

/* Video related styles*/
.videoPlaceHolder
{
    display:none;
    padding-top:20px;
    background:#CCCCCC;  
    width:480px;
    position:absolute;  
    z-index:100;
}
/*End of video related styles*/