*{margin:0; padding:0; border:none; color:#656565}
body, html{height:100%;}
body{background:black}
li{list-style:none;}
.myShadow
{
	opacity: 0.2; -moz-opacity: 0.2; filter: alpha(opacity=20);
	background:black;
	position:absolute; z-index:10001;
}
#main{
    margin:auto;
    position:relative;
    width:1024px;
    height:768px;
    background:black;
}
#loading{position:absolute; z-index:10000; display:block; width:100%; height:100%; background:white; opacity: 0.2; -moz-opacity: 0.2; filter: alpha(opacity=20);}
#loadingContainer{display:none;}
.contacts .ui-dialog-titlebar
{
    background:transparent url(../images/titleLine.jpg) repeat-x;
    background-position: 0px 15px;
    border:none;
    margin:0 10px;
}
#ui-dialog-title-contactsFull{visibility:hidden;}

.ui-widget-content{background:black! important;}

.ui-icon-closethick{background: transparent url(../images/dialogClose.jpg);}
.ui-state-hover .ui-icon{ background: transparent url(../images/dialogCloseOver.jpg) !important;}
.ui-state-focus .ui-icon { background: transparent url(../images/dialogClose.jpg);}
/*.ui-state-hover .ui-icon-closethick{background-image: url(../images/dialogCloseHover.jpg) no-repeat !important; background-position:top !important}*/

#top, #middle, #bottom{width:inherit;}
#funClub
{
    float:right;
    margin-top:-61px;
    
}

#promoDiv
{
    float:right;
    margin-top:-40px;    
    margin-right:70px;
    color:White;

}

#promoDiv img{cursor:pointer;}

#top{height:84px;}
#middle{height:616px; z-index:20; position:relative;}
#bottom{height:98px; z-index:-1; margin-top:-32px;}
#menu{padding:30px 20px;}
#menu li{float:left; list-style:none; padding-top:7px; font-size:16px; cursor:pointer; padding-right:10px;}
.currentSection{border-left:1px solid white; padding-top:0px !important; color:White !important; cursor:default; padding-left:10px;}
#subMenu{padding:4px 22px;}
#subMenu ul li{float:left; list-style:none; padding-right:10px;}
.subMenuItem, .subMenuItemActive{font-size:11px; text-decoration:none; cursor:pointer;}
.subMenuItem:hover{text-decoration:underline;}
.subMenuItemActive{color:White; cursor:pointer}
#copyrigth{font-size:11px; float:left; color: #2D2D2D; position:relative; z-index:20;}
#administration
{
    border-right:1px solid white;
    color:White; 
    font-size:16px; 
    margin-left:940px; 
    padding-left:10px; 
    position:relative; 
    z-index:30; 
    top:20px; 
    cursor:pointer;
} 
#contactsFull{display:none; background:black; text-align:center; color:White; font-size:14px;}
#contactsFull span{color:#6a6a6a}
.dialogTop{width:100%; text-align:right;}
.dialogTop a{margin-right:10px;}
.currentBackground, .newBackground{position:relative; z-index:0;}

/* Music related styles*/
.songsPlaceHolder
{
    position:absolute; 
    z-index:30; 
    padding-top:270px; 
    padding-left:5px; 
    display:none;
}

.songsPlaceHolder ul li
{
    list-style:none; 
    height:15px; 
    
    float:left; 
    margin-left:-530px; 
    margin-right:10px;
    padding-left:10px; 
    color:White; 
    cursor:pointer;
    font-size:11px;
}

.songsLi{background:transparent url(../images/playButton.png) center left no-repeat;  }
.videosLi{}

.songsPlaceHolderInverted ul li.songsLi
{background:transparent url(../images/playButtonBlack.png) center left no-repeat !important;  }

.songsPlaceHolderInverted ul li
{

    
    color:Black; 
}
.activeFooterLink{color:White;}

#flashContainer{position:relative; left:-3000px; width:1px; height:1px; overflow:hidden;}
#promoContainer{position:relative; left:-3000px; width:1px; height:1px; overflow:hidden;z-index:9999999999;}
#footerMenu{height:12px;padding-top:0px;text-align:left; padding-left:220px;}
#footerMenu a{text-decoration:none; margin-right:10px; font-size:11px; position:relative; z-index:30; display:none; cursor:pointer;}
#footerMenu a:hover{text-decoration:underline;}
/* End of music related styles*/

/* Video related styles*/
.videoPlaceHolder
{
    display:none;
    padding-top:20px;
    left:300px;
    top:100px;
    width:480px;
    position:absolute;  
    background: black url(../images/titleLine.jpg) repeat-x; background-position: 0px 10px;
    z-index:30;
    cursor:move;
}
/*End of video related styles*/

/*Gallery related styles*/
.galleryPlaceHolder{display:none; left:250px; top:30px; position:absolute; z-index:30; width:576px; height:470px;}
#thumbs ul li{ display:inline;}
#thumbs ul li a img{display:inline; border:5px solid transparent;}
#galleryPages{position:absolute; left:10px; top:520px; width:100%;}
/*End of gallery related styles*/

/*News related styles*/
.exceptDetails{border-left:2px solid black; padding-left:3px;}
#newsContainer{position:absolute; z-index:30; width:594px; left:430px; top:0px; display:none;}
.newsContent{float:left; background:transparent url(../images/newsBg.png); margin-top:20px; width:584px; padding:5px; }
.newsTitle, .newsText{color:Black;}
.newsText *{color:Black !important;}
.newsTitle{font-size:18px; line-height:14px; padding-top:2px; color:White; padding-bottom:2px;}
.newsDate{color:white; font-size:12px; height:12px;}
.newsText{height:52px; font-size:14px; padding-top:2px;}
.newsDetail{text-align:right; color:White; cursor:pointer; border-left:2px solid white;}
.newsDetail span{color:White; font-size:12px;}
#newsTextContainer{display:none;}
a.ui-state-active, a.ui-state-default{display:block; height:30px; padding-top:4px; font-family:Times New Roman; font-size:18px;}
a.ui-state-active{background: #aaa; color:Black;}
a.ui-state-active span, a.ui-state-default span
{
	display:block; 
	float:left; 
	height:18px; 
	border-right:1px solid black; 
	font-size:12px; 
	margin-top:5px;
	padding-top:3px;
	padding-left:10px;
}
a.ui-state-active span{color:White;}
a.ui-state-default span{color:Black;}
a.ui-state-default{background: #737171; color:White;}
.ui-icon-triangle-1-s, .ui-icon-triangle-1-e{display:none !important;}
.ui-accordion-content{background:#DEDEDE !important; padding:1em 4.3em !important;}
.ui-accordion-content div{border-left:1px solid black; padding-left:10px;}
hr{background:#656565; height:1px;}
#newsTextContainer p span, #newsTextContainer span{color:#888 !important;}
/*End of news related styles*/

/*Pager related styles*/
div.pagination {
	clear: both;
}

div.navigation div.top {
	margin-bottom: 12px;
	height: 12px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current {
	display: inline;
	margin-right: 2px;
	padding: 0px 7px;
	border: none
}
div.pagination span.current {
}

