#borderLine h1{color:#3399cc;}
#borderLine, #borderLine2 {border-bottom:#3399cc solid 3px; }
#contentWrapper{padding-bottom:38px;}
.articleItem{padding-top:40px;}
.articleItemDate{font-size:10px; color:#999; font-weight:bold; padding-left:5px; padding-bottom:5px;}
.articleItemTitle{color:White; font-size:13px; background:#3399cc; padding:1px 3px 2px 3px; display:inline-block; font-weight:bold;}
.articleItemText{padding-left:38px; padding-top:10px; font-size:11px;}

