*{margin:0px; padding:0px; border:none; font-family:Arial;}
body{background:black;}
/*#main{width:1149px; float:left; position:absolute; left:50%; margin-left:-576px; background:transparent url(../images/maintop.jpg) no-repeat;}*/
#main{width:1149px; position:relative; margin:0 auto;}
#mainTop{height:379px; width:100%; float:left; clear:both;}

#mainTitle{float:left; color:#421100; font-family:Arial; font-size:22px; padding:10px 0px; clear:both; width:100%; text-transform:lowercase; text-align:center;background: transparent url(../images/mainBg.jpg) repeat;}

#topLeft{float:left; width:436px; height:379px; background:transparent url(../images/topLeft.jpg) no-repeat;}
#topMiddle{float:left; padding:46px 0px 0px 118px;   height:333px; width:162px; background:transparent url(../images/logo.jpg) no-repeat;}
#topRight{float:left; width:433px; height:379px; background:transparent url(../images/topRight.jpg) no-repeat;}
#homeMail{float:left;}
#mainBottom{width:100%; height:302px; background: transparent url(../images/mainBottom.jpg) no-repeat; float:left; clear:both}
#holiday, #man, #woman, #price{float:left; padding-top:1px;}
#holiday{ padding-left:213px;}
#man{padding-left:76px;}
#woman{padding-left:75px;}
#price{padding-left:60px;}


#mainMiddle{width:100%; padding-bottom:10px; background: transparent url(../images/mainBg.jpg) repeat; float:left; clear:both;}
#framesHolder{width:100%;}

#leftFrame, #rightFrame{float:left; margin-top:-25px;}
#framesHolder{padding-left:47px;}
#framesMiddle{width:100%; background:transparent url(../images/framesMiddle.jpg) repeat-y; float:left; clear:both;}
#leftFrameTop{width:477px; padding-right:93px; height:103px; float:left; background:transparent url(../images/ProductsTop.jpg) no-repeat;}
.frameBottomLeft, .frameBottomRight{width:477px; margin-top:-12px; float:left; height:103px;background:transparent url(../images/frameBottom.jpg) no-repeat;}
.frameBottomLeft{ padding-left:93px;}
#rightFrameTop{width:477px; height:103px; float:left; background:transparent url(../images/servicesTop.jpg) no-repeat;}

#bottomPictures{float:left; clear:both;}
#bottomLinks{float:left; clear:both; width:100%;}

#holidayLink, #manLink, #womanLink, #priceLink{float:left; padding-top:2px;}
.bottomLink{font-family:Arial; text-decoration:none; font-size:14px; color:#391F0F; font-weight:bold;}
#holidayLink{padding-left:230px;}
#manLink{padding-left:132px;}
#womanLink{padding-left:140px;}
#priceLink{padding-left:130px;}
#leftFrame{padding-left:65px;}
#rightFrame{padding-left:225px;}


/*----------------- Holidays---------------------------*/
#calendarContent{ width:100%; float:left; padding-left:50px;}
#monthFrame{width:662px; height:650px; background:transparent url(../images/calendar.jpg) no-repeat; padding:60px 0 0 70px;}
.day{float:left; width:40px; height:40px; text-align:center; font-size:24px; color:#666666;}
.week{float:left; clear:both; width:100%;}
.day a{ color:#666666; text-decoration:none;}
.weekend a{color:#C56669; text-decoration:none;}
.weekend{color:#C56669;}
#monthLeft, #monthRight{float:left; margin-top:40px;}
#monthRight{width:240px;}
#monthLeft{width:245px; border-right: 2px solid #BAB6B4;}
#monthTitle{width:100%; height:40px; text-align:center; padding-top:10px; color:#4A2F17; font-weight:bold; font-size:18px;}
#monthLeftBottom{width:100%; height:110px; float:left; padding:20px 0 0 10px;}
#monthLeftTop{float:left; border-bottom:2px solid #BAB6B4; width:100%;}

.selectedDate{background:transparent url(../images/today.png) no-repeat; height:48px; margin-left:-3px;margin-top:-38px; position:absolute; float:left; clear:both;  width:49px;}
.descriptionDiv
{
    background: white; 
    border:1px solid #59412B; 
    padding:10px; 
    color:#59412B; 
    width:400px;
    filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	position:absolute;
	font-size:14px;
   }
.todayDateLarge{float:left; width:65px; height:81px; background:transparent url(../images/largeDateBg.jpg) no-repeat;}
.todayDateLarge div.todayMonth{color:White; width:65px; text-align:center; font-weight:bold; font-size:12px; padding-top:3px;}
.todayDateLarge div.todayDate{color:#2E1805; width:65px; text-align:center; font-size:40px; padding-top:7px;}
.todayHolidaysLarge{float:left; padding-left:10px;}
.todayHoliday{color:#533A23; text-decoration:underline; cursor:pointer;}
.todayHolidaysLarge a.todayHoliday{ font-size:14px;}

.todayDateSmall
{
    float:left; 
    width:48px; 
    height:54px; 
    background:transparent url(../images/smallDateBg.jpg) no-repeat; 
    padding-right:20px;
    border-right:2px solid #BAB6B4;
}
.todayDateSmall div.todayMonth{color:White; width:48px; text-align:center; font-weight:bold; font-size:10px; padding-top:1px;}
.todayDateSmall div.todayDate{color:#2E1805; width:48px; text-align:center; font-size:29px; padding-top:2px;}

.todayHolidaysSmall{float:left; padding-left:20px; width:80px;}
.todayHolidaysSmall{font-size:10px;}
.todayHolidaysSmall div.holidaysContainer{font-size:0px;}
.todayHolidaysSmall a.todayHoliday{ font-size:10px; line-height:12px;}
.todayDay{color:#8F5E34; font-size:16px; float:left; width:40px; padding-top:17px; padding-right:10px; font-weight:bold;}

.weekDay{padding:0 0 10px 20px; float:left;}
/*-------------------------------------------------------*/