#detailsContainer{padding-left:55px; padding-top:20px; float:left;}
#logo
{
	background:transparent url(../images/logoFrame.jpg) no-repeat; 
	width:195px; 
	height:130px; 
	padding:47px 0 0 50px; 
	float:left;
	border-right:2px solid #9E7F4E;
}

#description{float:left; padding-left:30px; width:750px;}
#tradeMarkPropertues{float:left; clear:both;}
#vouchers {float:left; clear:both; width:1000px; padding-left:15px;}
#commentsAndLogo{float:left;}

#customDescription{float:left; clear:both; color:White; padding-top:20px; width:1000px;}
#additionalProperties{clear:both; float:left; color:White; width:1000px;}
.voucher{float:left; width:210px; height:130px; margin-top:20px;}
.voucherSeparator{margin: 30px 25px 0; float:left; height:106px; width:2px; background: #FFD79C;}
.orderButton{margin:109px 0 0 60px;}
#comments
{
    width:105px; 
    color:White; 
    height:15px; 
    background:transparent url("../images/commentsBg.png"); 
    font-size:10px;
    float:left;
    clear:both;
    margin-top:5px;
    margin-left:55px;
    padding-left:4px;
    padding-top:2px;
}

#comments a{color:White; text-decoration:none;}

.orderForm
{
		position:absolute; 
		width:417px; 
		height:280px; 
		background:transparent url("../images/orderBg.png") no-repeat;
		z-index:999999;
		padding:0 30px;
		font-size:12px;
}
#orderTop{padding:5px 0px 10px 404px;}

#orderTitle{border-bottom:1px solid #DAD7D4; font-size:20px; padding-bottom:10px; width:inherit;}

#orderText{border-bottom:1px solid #DAD7D4; padding:10px 0; width:inherit;}
#divOrderForm{padding:10px 0; width:inherit; text-align:right;}
#divOrderForm input {width:340px; margin-top:2px;}
#orderSend{width:inherit; text-align:right;}

.thankYou
{
    width:418px;
    height:280px;
    background:transparent url("../images/thanksBg.png");
    position:absolute;
    z-index:999999;
    font-size:12px;
    padding:0 30px;
}

#thankYouTop
{
    padding:5px 0px 10px 404px;        
}

#thankYouMessage{width:inherit; padding: 90px 0; border-bottom:1px solid #DAD7D4; border-top:1px solid #DAD7D4; text-align:center;}
#thankYouClose{text-align:center; padding-top:10px;}

.commentsPanel
{
    width:668px; 
    height:418px; 
    background:transparent url("../images/commentsFrame.png");
    z-index:999999;
    position:absolute;
    padding-left:28px;
    padding-right:28px;
}

#commentsTop{padding-left:652px; padding-top:5px;}

#commentsTitle{border-bottom:1px solid #DAD7D4;font-size:20px; padding-bottom:10px; width:inherit; padding-top:10px;}