*{padding:0px; margin:0px; border:none; color:#6b87c5; font-family:Times New Roman;}
h2{font-size:18px;}
#main{width:1024px; margin:0 auto; position:relative; background:transparent url("../images/mainBg.jpg") no-repeat;}
#mainTop{height:207px; width:inherit;}
#langs{width:78px; height:50px; padding-left:56px;}

#UALang, #RULang, #ENLang{width:20px; height:14px; float:left; padding:28px 3px 0px 3px;}

#title{float:right; text-transform:uppercase; width:294px; text-align:left; font-size:21px; color:White; padding-top:115px;}

#menu{float:right; clear:both; text-align:right; padding-right:33px;}
.menuLink{text-decoration:none; color:#052e8c; font-weight:bold; text-transform:lowercase;}
.menuLink:hover{color:#7c98ce;}
.currentMenuItem{color:#7c98ce; font-weight:bold; text-transform:lowercase;}
#gamesContainer{float:left; width:181px; padding-left:10px;}
#middle{width:inherit;}
#contentContainer{width:735px; padding-left:62px; padding-top:50px; float:left; min-height:460px;}
#footer{width:1024px; background:transparent url("../images/bottomLine.jpg") no-repeat; clear:both;}
#allRights{text-align:right; padding-right:40px;}
#allRights span{color:White !important; font-size:10px;}
.shaded{opacity: 0.4; -moz-opacity: 0.4; filter: alpha(opacity=40); background-color:Black;}

.match, .matchPlayed{width:179px; padding-left:2px; height:54px; clear:both; margin:20px 0;}
.match{background:#ede2e2;}
.matchPlayed{background:#def0ef;}

.dateHasMatch{background:#CC0000;}
#gameArchive{height:220px;}

#sponsors{float:left; padding-left:50px;}
#akula{float:right; padding-right:30px;}
#tooltip{position:absolute;}
.matchTeam
{
    color:#6082c3;
    font-size:10px;
    float: left;
    position: relative;
    text-align:center;
    top:-10px;
}

.matchDetails
{
    float: left;
}

.match .matchCount
{
    display:none;
}

.matchDate, .matchCount {width:80px; text-align:center;}
.matchCount{height:36px;font-weight:bold;letter-spacing:-4px}

.matchPlayed .matchCount{display:block;font-size: 38px;}
.matchDate
{
    color:#be1d2d;
    font-size: 12px;
    padding-top:10px;
}
.matchPlayed .matchDate{ color:#98add8; padding-top:0;}


