#borderLineJ{height:23px;width:auto;border-bottom:3px solid #39b54a;margin:0 51px;}
#borderLineJ h1{font:Verdana, Arial, Helvetica, sans-serif bold; font-size:16pt;color:#39b54a;padding:1px 0px 0px 0px;}
#borderLine2J{height:23px;width:auto;border-bottom:3px solid #39b54a;margin:0 51px;}

#linksBoxJ{min-height:200px;height:auto;width:613px;border:0px solid #ff6600;margin:0 auto; position:relative;}
.Inna{float:left;margin:0px 12px 5px 0px;}

#linksBoxJ p{font:Verdana, Arial, Helvetica, sans-serif normal; font-size:12pt;}
#linksBoxJ h2{font:Verdana, Arial, Helvetica, sans-serif normal; font-size:12pt;padding:0px 0px 5px 0px;}
#linksBoxJ a{color:#3366ff;margin:0px 0px 0px 0px; font-weight:normal;}
#textUnderLinksJ{height:93px;width:613px;border:0px solid #ff6600;margin:0 auto;}
#textUnderLinksJ p{font:Verdana, Arial, Helvetica, sans-serif normal; font-size:12pt;color:#000000;padding:0px 0px 0px 0px;}
#wish{height:93px;width:250px;border:0px solid #ff6600; float:left;}
#pencil{height:93px; width:199px;margin:0px 10px 0px 0px;border:0px solid #ff6600;}







