*{margin:0; padding:0;}

#statements{margin:20px; margin-right:200px;}

body{background: black; color:#999;}

.commingIn
{
    opacity:0.0;
}
.bx-wrapper{margin-left:20px;  border:1px solid Olive; position:relative;}
.currentPage
{
    opacity:1;
    height:500px;
}

.commingOut
{
    opacity:0.0; 
    height:0;
}