html, body{height:100%; overflow:hidden;}
.trace{position:fixed; color:Lime; border: 1px solid lime; width: 300px; left:0; top:0; background:black;}

#page, #footer, #mainNav{min-width:1210px;}
#page{min-height:800px; position:relative; padding:1px;}
.content{ margin: 65px 60px 0;padding: 1px;}
#footer
{
    background: #6f2c8a;
    padding:2px 60px;
    height:62px;    
}

#footer #copyright{font-family:PFDinDisplayProBlack; color:Black;}

#footer #copyright p.large{font-size:52px; display:inline-block;}
#footer #copyright p.small{font-size:11px; display:inline-block; width:60px;}
#secretLink{ float: right;width: 80px;font-family: PFDinTextCondPro;padding-top: 16px;}
#secretLink a{ color: white;}
*
{
    margin: 0;
    padding: 0;
}

#page > div{min-height:500px;}

#statements
{
    margin: 20px;
    margin-right: 200px;
}

body
{
    background: black;
    color: #999;
}

#mainNav
{
    padding: 46px 60px 0;
    white-space: nowrap;
}

#mainNav > a{text-decoration:none; display:inline-block; border-bottom:3px solid #faaf4c; margin-top:-12px;}

#mainNav a {
    color: #faaf4c;
}

#mainNav > * {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#mainNav > *.current {
    opacity: 1;
    filter: alpha(opacity=100);
}


#logo
{
    display: block;
    float:left;
    width: 75px;
    font-family: PFDinTextCondPro;
    font-size: 20px;
    white-space: normal;
    padding:13px 0 0 29px;
    padding-top:10px;
    background:url(img/logo.png) no-repeat;
}

#logo span
{
    border-bottom: 1px solid #faaf4c;
    text-decoration:underline;
    display:inline-block;
}

#mainNav > a, #mainNav>div{display:inline-block; margin-right: 100px;}

#mainNav > a
{
    font-family: PFDinTextCondProLight;
    font-size: 81px;
}

.commingIn
{
    opacity:0;
    filter: alpha(opacity=0);
}
.currentPage
{
    height: 500px;
}

.commingOut
{
    height: 0;
}
