.detailsHeader{	width: 455px; border-bottom: 2px solid white;}
.topContent{margin-bottom: 20px;}
.topContent .content{width: 455px; min-height: 500px; border-bottom: 2px solid white; padding-top:10px; font-size:12px;}
.finger{float: right; height:0px;}
.finger img{position: relative;	top: -169px;}
.bottomContent{}

/* Images */

.imagesContainer{}
.image{}