.entity
{
	width: 694px;
	height: 318px;
	background-repeat: no-repeat;
	padding: 5px 5px 48px 5px;
	clear: both;
}
.theirs
{
	background-image: url(img/theirsBg.jpg);
}
.ours
{
	background-image: url(img/oursBg.jpg);
}
.yours
{
	background-image: url(img/yoursBg.jpg);
}

.entityImage
{
	float: left;
	border: 2px solid #2F2F2F;
	width: 240px;
	height: 318px;
}
.entityText
{
	float: left;
	padding-left: 10px;
}
.entityTitle
{
	font-size: 28px;
}

.entityDescription
{
	font-size: 12px;
	padding-top: 5px;
	height: 180px;
}
.detailsLink a
{
	color: #7F7D7D;
	text-decoration: none;
	font-size: 12px;
}
.detailsLink a:hover
{
	text-decoration: underline;
}