*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: Times New Roman;
	color: white;
}
body
{
	background: black;
}
input{color:Black;}
#main
{
	width: 1024px;
	position: relative;
	margin: 0 auto;
}
#left
{
	float: left;
	width: 301px;
}
#right
{
	float: left;
	width: 722px;
	border-left: 1px solid #737373;
}
#content
{
	padding-left: 10px;
	min-height:1000px;
}
#bottomRight
{
	width: 722px;
	height: 128px;
	background: transparent url(img/bottomRight.jpg);
}
#handEye
{
	clear: both;
}
#handEye img
{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.entityDate
{
	width: 202px;
	border-bottom: 2px solid black;
	color: #7F7D7D;
	font-size: 12px;
	padding-bottom: 5px;
}

.mail{position:absolute; right:26px; bottom:35px;}

#tagCloud{padding-left:51px;}

.pagerTable{left:-30px; position:relative;}

.goTopContainer, .goBottomContainer{width:100%; text-align:center; position:relative; z-index:1000;}
.goBottom, .goTop{width:27px; height:27px; display:block; background-position: 0 27px; position:relative; left:-30px;}
.goBottom:hover, .goTop:hover{background-position:0 0;}
.goBottomContainer{margin-top:-27px; height:27px; padding-bottom:10px;}
.goBottom{background-image:url(img/goBottom.jpg)}
.goTop{background-image:url(img/goTop.jpg)}
