<div>
    @{Html.RenderPartial("Logo");}
    <a href="@Url.Action("Start","Home")" rel="address:/works">Наши работы</a>
    <a href="@Url.Action("Contacts","Home")" rel="address:/contacts">Связаться</a>
</div>
