<div id="head">
    <div id="singlePrice">
        <div class="highlight uppercase">
            Единая цена
        </div>
        <span class="extera-large">250</span>
        <span class="larger">грн.</span>
    </div>
    <div id="call">
        <div class="highlight">
            Звоните, спрашивайте, не стесняйтесь :)
        </div>
        <div class="larger">
            +38 (067) 443-553-0
        </div>
    </div>
</div>
