img{display:block}
#SlotH{margin:10px 0px 0px 0px;}
#SlotH h1{font:Verdana, sans-serif; font-size:18px; font-weight:normal;color:#0099ff;padding:0px 0px 0px 47px;}
#SlotProduct{margin:0px 0px 0px 45px;}
#SlotProductFoto{float:left; width:400px;}
#SlotProductFoto img{border:3px solid #0099cc;}
#SlotProductText{margin-left:420px;}
#SlotProductText p{font:Verdana, sans-serif; font-size:12px; font-weight:normal; color:#000000;}

#imagePreviews{width:394px; text-align:center; padding-top:10px;} 
#imagePreviews img{border:1px solid #0099cc;}
#imagePreviews div.imageItem{float:left; margin-right:10px;}

.orderButton{left:400px;margin-top:-22px; position:relative;}
.orderButton input{background:transparent url(img/addToBasket.jpg); color:White;  border:0; text-align:center; width:196px; height:22px; text-decoration:underline;  }
#contentAfterItems{clear:both;}


/*
#previewFoto{height:150px; width:320px;float:left;margin:0px 0px 0px 120px;}
#previewFotoBox{height:100px; width:100px;float:left;border:1px solid #0099cc;margin:16px 0px 0px 14px;}
#heartBox{height:150px; width:250px;float:left;margin:0px 0px 0px 0px;}
#heartBox p{margin:-10px 0px 0px 160px;}
#skidkiSlot {height:99px; width:715px;float:left;background:url(img/skidkiBgSlot.jpg);margin:0px 0px 30px 85px;}
#skidkiSlot p{margin:4px 0px 0px 85px;font:Verdana, sans-serif; font-size:12px;}
#skidkiSlot h4{margin:4px 0px 0px 85px;font:Verdana, sans-serif; font-size:13px; font-weight:bold;color:#c70067}
#skidkiSlot a{color:#000000;font:Verdana, sans-serif; font-size:12px; font-weight:bold;}
#skidkiBoxSlot{height:97px; width:210px;float:left; margin:5px 0px 0px 25px; float:left;}
#imgBoxSlot{height:97px; width:76px;float:left;border: 1px solid #0099cc;margin:-5px 0px 0px 0px;}
#contentAfterItemsSlot{width:720px; height:30px;border-top:1px solid black;margin:20px 0px 50px 80px;float:left;}
#contentAfterItemsFotoSlot{width:485px; height:30px; background:url(img/fotoText.jpg) no-repeat;margin:5px 0px 0px 0px;}
*/