.find{ display:block; width:36px; height:37px; background:transparent url(img/find.jpg) no-repeat; border:none;}

.headerMenuItem a{ display:block; height:13px; width:75px;}
.headerMenuItem a{background-position:-9px -47px;}

a#order{ background-image:url(img/order.png) }
a#cars{ background-image:url(img/cars.png) }
a#terms{ background-image:url(img/terms.png) }
a#contact{ background-image:url(img/contact.png) }