.adminLink a{color:Red; font-size:10px;}

*{margin:0; padding:0; font-family: Verdana;}
body{background:#F2F2E6;}
table, tr, td{border:none;}
#main{ background:url(img/mainBg.jpg) no-repeat; width:1000px; position:relative; margin:0 auto;}

#left{width:302px; float:left;}
#languageBar{float:right; font-size:0.56em; text-align:center; margin-right:100px; margin-top:50px;}
#languageBar td{padding: 0 5px;}

.languageSwitch{background: transparent url(img/languages.jpg); width:22px; height:22px; display:block;}
span.languageSwitch.en-US{background-position:0px -22px;}
span.languageSwitch.ru-RU{background-position:0px 0px;}
a.languageSwitch.ru-RU:hover{background-position:22px 0px;}
a.languageSwitch.en-US:hover{background-position:22px -22px;}
a.languageSwitch.ru-RU{background-position:52px 0px;}
a.languageSwitch.en-US{background-position:52px -22px;}


#titleContainer
{
	color:#ccc; 
	font-weight:bold; 
	width:559px; 
	float:left;
	margin-top:15px;
	margin-left:3px;
	font-size:19px; 
	height:26px; 
	line-height:26px;
	margin-bottom:30px;
}
#title{ padding-left:77px; padding-right:5px; float:left; background-color:#BA2719;}
#subTitle{padding-left:5px; float:left; font-size:15px;}
#left #tv{margin-left:110px; margin-top:53px; width:192px;}
#stick{width:3px; background:url(img/stick.jpg); position:absolute;  left:206px; top:712px; bottom:240px;}
#right{margin-left:287px; padding-top:1px;}


#mainMenu{margin-top:99px; height:1px;}
.mainMenuItem{float:left; margin-left:27px;}
.mainMenuItem *{height:20px; float:left; display:block;}
#lifeStyle{width:125px;}
#elena{width:115px;}
#notes{width:77px;}
#contacts{width:90px;}

#lifeStyle.ru-RU{background:transparent url(img/ru-RU/lifeStyle.png) no-repeat;}
#lifeStyle.en-US{background:transparent url(img/en-US/lifeStyle.png) no-repeat;}
#elena.ru-RU{background:transparent url(img/ru-RU/elena.png) no-repeat;}
#elena.en-US{background:transparent url(img/en-US/elena.png) no-repeat;}
#notes.ru-RU{background:transparent url(img/ru-RU/notes.png) no-repeat;}
#notes.en-US{background:transparent url(img/en-US/notes.png) no-repeat;}
#contacts.ru-RU{background:transparent url(img/ru-RU/contacts.png) no-repeat;}
#contacts.en-US{background:transparent url(img/en-US/contacts.png) no-repeat;}

#leftMenu{width:159px;margin-left:127px;}
#leftMenu #menuTop
{
    width:159px; 
    height:20px; 
    background:transparent url(img/menuTop.jpg) no-repeat;
    margin-top:10px;
}

#leftMenu #menuBottom
{
    width:149px; 
    height:10px; 
    background:transparent url(img/menuBottom.png) no-repeat;
    margin-left:5px;
}

#leftMenu #menuContent
{
    width:97px;
    background:white;
    border-left:1px solid #ccc;
    margin-left:5px;
    border-right:1px solid #ccc;
    display:none;
    padding:20px 25px 20px;
  
}

#leftMenu div.year{padding-bottom:20px;}
#leftMenu a.year { font-size:15px; color:Black; margin-bottom:0px; display:block; }
#leftMenu a.year.current{ font-weight:bold; text-decoration:none; }
#leftMenu div.month{}
#leftMenu a.month {font-size:13px; font-weight:normal; color:Black; text-decoration:underline;}
#leftMenu a.month.current{text-decoration:none; color:Black;}
#leftMenu .broadcast{ padding:5px 0 5px 5px;}
#leftMenu .broadcast div{height:25px; width:10px;}
#leftMenu .broadcast, #leftMenu .broadcast a{font-size:10px; font-weight:bold; color:Black;}



.mainMenuItem span{background-position:0px -25px !important; display:block;}
.mainMenuItem a{background-position:0px -80px !important; display:block;}
.mainMenuItem a:hover{background-position:0px -52px !important;}

#contentFrame{margin-left:48px; margin-top:64px; width:559px; margin-bottom:93px;background:transparent url(img/frameBg.jpg) repeat-y;}
#contentFrame #top{ height:57px; width:559px; background-image:url(img/frameTop.jpg)}
#contentFrame #content
{ 
	width:459px; 
	padding:15px 45px 15px 55px;  
	min-height:569px; 
	font-size:0.8em;
}

#contentFrame #bottom{ height:74px; width:559px; background-image:url(img/frameBottom.jpg)}

#footer{margin-bottom:30px;}
#bonus{ float:right; margin-top:-143px; margin-right:70px;}

#shtativLeg{background:transparent url(img/shtativLeg.jpg); width:308px; height:203px; margin-left:24px; margin-top:-148px;}
#copyright{border-top:1px solid black; border-bottom:1px solid black; width:793px; height:33px; margin-left:99px; margin-top:30px; font-size:0.7em; padding-top:17px; }
#copyright a.design{background:#ba2719; color:White;}