#SecretLink {
    border-top: 1px solid #faaf4c;
    border-bottom: none;
}

#secretContainer {
    margin-left: 290px;
}

.secretItem {
    display: inline-block;
    margin: 35px 64px 35px 0;
}

.secretItem img {
    border: 1px solid #faaf4c;
}