#workGroups, .works-side-bar, .work-side-bar
{
    font-family: PFDinTextCondProMedium;
    float: left;
    color: #faaf4c;
    font-size: 20px;
}

#workGroups, .works-side-bar
{
    width: 141px;
    padding: 55px 87px 23px 7px;
}

.work-side-bar
{
    width: 234px;
    padding: 55px 7px 23px 0;
}

#page
{
    padding-bottom: 0;
}
.content
{
    padding-bottom: 0;
}

#workGroups ul
{
    list-style: none;
}

#workGroups li
{
    padding-bottom: 20px;
}

#workGroups a, .works-side-bar > a, .works-side-bar > p
{
    color: #faaf4c;
}

.works-side-bar a.current {
    text-decoration: none;
    color: #996633 !important;
    cursor: default;
}

.works-side-bar > p
{
    padding-top: 20px;
}

.work-side-bar > p, .work-side-bar .side-bar-text, .works-side-bar > p, .works-side-bar .side-bar-text
{
    font-size: 15px;
}

.work-side-bar .side-bar-text, .works-side-bar .side-bar-text
{
    color: white;
    margin-top: 240px;
}

#worksContent, #worksPager, .works-content
{
    margin-left: 235px;
    min-width: 910px;
}

#WorkPage .works-content
{
    margin-left: 241px;
    padding-left: 49px;
    padding-top: 55px;
    width: 720px;
    min-width: 720px;
    position: relative;
    margin: 0 auto;
}

#WorkPage {
    margin-right: 0;    
}

#WorkPage .group-name{ color: #faaf4c;display: block;padding-bottom: 20px;}
.works-content
{
    min-height: 472px;
}
.work-bottom-image
{
    text-align: center;
}
.work-bottom-image img
{
    position: relative;
    margin: 0 auto;
    display: block;
}
#worksPager
{
    text-align: center;
}

#worksContent > p
{
    padding: 55px 60px;
    font-size: 40px;
}

.workItem
{
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 55px 60px;
    opacity: 1;
    filter: alpha(opacity = 100);
    width: 180px;
}

.workItem *
{
    display: none;
}

.workItem .description
{
    height: 50px;
    padding-top: 15px;
}

#worksPager
{
    padding-bottom: 40px;
}

#worksPager a
{
    display: inline-block;
    margin: 0 6px;
    width: 17px;
    height: 17px;
    background: transparent url(img/page.png) no-repeat;
    background-position: -17px 0;
    font-family: PFDinTextCondProMedium;
    font-size: 8.55pt;
    color: #faaf4c;
    line-height: 17px;
    cursor: pointer;
}

#worksPager a.current
{
    color: black;
    background-position: 0 0;
    cursor: default;
}
