<div id="aboveFooter"></div>    
<div id="foot">
    <div class="fadeIn"></div>
    <div class="fadeOut"></div>
    <div class="bar-content">
        Сделано в <a href="http://eugene-miller.com">Студии Евгения Миллера</a>
    </div>
</div>
<div id="belowFooter"></div>    