<div id="head">
    <div id="singlePrice">
        <div class="highlight uppercase">
            Единая цена
        </div>
    </div>
    <div id="call">
        <div class="highlight">
            Звоните, спрашивайте, не стесняйтесь :)
        </div>
        <div class="larger">
            +38 (067) 443-553-0
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/eto.kak.ego"><img src="@Url.Content("~/Content/img/fb.png")" alt="Facebook"/></a>
            <a href="http://vk.com/etokakego"><img src="@Url.Content("~/Content/img/vk.png")" alt="Facebook"/></a>
        </div>
    </div>
</div>
