@model IEnumerable<Jackson.Models.Group>

<div id="aboveMenu"></div>

<div id="mainMenu">
    <div class="fadeIn"></div>
    <div class="fadeOut"></div>
    <div class="bar-content">
        @foreach (var item in Model)
        {
            if (item.Url == ViewBag.Id)
            {
            <span data-url="@item.Url">@item.Name</span>
            }
            else
            { 
            @Html.ActionLink(item.Name, "Index", new { controller = "Home", id = item.Url }, new { data_url = item.Url });
            }
        }
        @if (Request.IsAuthenticated)
        { 
            <span id="addMenu" class="admin"></span>
            <a href="javascript:void(0)" id="sortMenu" class="admin">Сортировать разделы</a>
            <a href="javascript:void(0)" id="endSortMenu" class="admin" style="display: none;">Посортировал</a>
        }
    </div>
</div>

<div id="belowMenu"></div>
