<div id="aboveMenu"></div>

<div id="mainMenu">
    <div class="fadeIn"></div>
    <div class="fadeOut"></div>
    <div class="bar-content">
        @RenderBody()
    </div>
</div>

<div id="belowMenu"></div>
