@model IEnumerable<MBrand.Models.WorkGroup>
<div id="workGroups" class="works-side-bar">
    <ul>
        @foreach (var workGroup in Model)
        {
            <li><a href="/works/@workGroup.Name" rel="address:/works/@workGroup.Name">@workGroup.Title.ToUpper()</a>
                @if (Request.IsAuthenticated)
                {
                    @:&nbsp;&nbsp;<a class="adminLink" onclick="return confirm('Точно?')" href="javascript:location.href='/Admin/WorkGroups/Delete/@workGroup.Id?redirectTo='+escape(location.href);">x</a>
                                                }
            </li>
        }
    </ul>
    @if (Request.IsAuthenticated)
    {
        <div>
            <a class="adminLink" href="javascript:location.href='/Admin/WorkGroups/Create?redirectTo='+escape(location.href);">
                Добавить</a>
        </div>
    }
    //////////
</div>
<div id="worksContent" class="works-content">
    Загрузка...
</div>
<div id="worksPager">
</div>
@if (Request.IsAuthenticated)
{ 
    <div id="addLink" style="display: none">
        <a class="adminLink">Плюсадин</a>
    </div>
}
<!-- Templates -->
<script type="text/x-jquery-tmpl" id="workItemTemplate">
    <div class="workItem" title="{{=Title}}" data-name="{{=Name}}">
        <div><img src="/Content/workImages/{{=Image}}" alt="{{=Title}}" /></div>
        <div class="description">{{=Description!}}</div>
        @if (Request.IsAuthenticated)
        {
            <div>
                <a href="javascript:location.href='/Admin/Works/Edit/{{=Name}}?redirectTo='+escape(location.href)" class="adminLink">Править</a>&nbsp;|&nbsp;
                <a href="javascript:location.href='/Admin/Works/Delete/{{=Name}}?redirectTo='+escape(location.href)" class="adminLink" onclick="return confirm('Точно удалить?')">x</a>
            </div>
        }
    </div>
</script>
<script type="text/x-jquery-tmpl" id="pagerTemplate">
    <a class="{{=Class}}" data-page-index={{=Value}}>{{=Text}}</a>
</script>
