*{margin:0; padding:0; font-family:Times New Roman;}
body{background:black url(img/bodyBg.jpg) repeat-x;}
img{border:0;}
#main{width:837px; position:relative; margin:0 auto;}

#mainWrapper{width:1327px; position:relative; margin:0 auto;}

#leftBanners{float:left; position:absolute; margin-left:-245px; padding-top:91px}
#leftBanners div, #rightBanners div{border:1px solid #ccc;}

#b1, #br1{height:360px;}

#rightBanners
{
    float:right;
    margin-left: -235px;
    padding-top:91px;        
}

#adminIndicator{float:right; height:0px; width:570px; text-align:right; padding-right:3px; color:red;}
#adminIndicator a{color:White;}
#player{width:auto; height:45px; border-right:1px solid white; background:black;}
#playerPresentation{height:100%; width:264px; background:#c6c6c6; text-align:center; font-size:12px;}
#playerPresentation div{float:left; line-height:45px; padding-left:10px;}
#playerPresentation div.song{line-height:43px;}
#playerPresentation .controls a{cursor:pointer;}
#playerPresentation .controls a.disabled{cursor:default;}
#playerPresentation .controls a.disabled img{opacity:0.5; filter: alpha(opacity=50);  moz-opacity:0.5;}
#header{width:835px; height:406px; border:1px solid white; background:transparent url(topImages/top0.jpg) no-repeat}

#logo{position:absolute; width:261px; height:101px; left:570px; top:380px;}

#menuContainer{width:auto; height:48px; margin-top:1px; background:black;}
#menuContainer div {float:left; line-height:48px; height:48px;color:#666262; padding:0 5px;}
#menuContainer div a{color:#666262; text-decoration:none;}
#menuContainer div a:hover{color:White; text-decoration:none;}
.menuItem.current{background-color:#585858;}
.menuItem.current a{color:White !important;}
.menuItem.current a:hover{text-decoration:none !important;}

.menuItem.hover{background:#C6C6C6;}

#content{background:#C6C6C6; padding:6px; width:auto;}
#textContent{font-size:12px; padding:10px 50px;}

#footer1{margin-top:5px; background:#5c5c5c; width:auto; padding-left:15px; height:67px;}
.banners{ margin-right:195px; }
.contacts{width:180px; float:right; padding-left:10px; color:white; padding-top:5px; height:62px; font-size:11px; background:#4A4A4A;}
#footer2{margin-top:5px; width:auto; border:1px solid white; height:40px; padding:10px 16px;}
#footer2>div{margin-right:14px; float:left;}

/*Gallery */

.galleryTitle{padding-left:50px; font-size:20px;}
.galleryComments{padding-left:50px; font-size:12px; color:#747171;}

.gallerySeparator{width:auto; margin:10px 55px; height:1px; background:white; }

/*News*/

.news{margin:0 50px; clear:both; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid white;}
.newsContent img{float:left; margin-right:10px;margin-bottom:10px;}
.newsTitle{font-size:20px; margin:5px 0;}
.newsContent{ font-size:12px;}

.shareButtons{height:26px;}
.shareButton{float:right; display:block; width:26px; height:26px; margin:0 2px;}
.shareButton.vkButton{background-image:url(img/vkbutton.jpg)}
.shareButton.twitterButton{background-image:url(img/twitterbutton.jpg)}
.shareButton.fbButton{background-image:url(img/fbbutton.jpg)}
.shareButton.odnoklassnikiButton{background-image:url(img/odnoklassnikibutton.jpg)}

.galleryShareButtons{float:right; padding-right:50px;}
.galleryShareButtons div{float:right;}
/*.galleryShareButtons .shareButton{padding-bottom:5px; margin-bottom:5px;}*/

#recentNews{min-height:200px;}

/*Audio*/

.album{width:auto; height:373px; background:transparent url(img/albumBg.jpg) no-repeat; padding-bottom:50px;}

.album .cover{float:left;}
.album .albumContent{margin-left:417px;}
.album .albumContent .title{width:195px; text-align:right; padding-top:36px; color:White; font-size:30px; font-weight:bold;}
.album .albumContent .year{color:#777; font-weight:normal; font-size:16px; margin-top:-8px; }

.album .songs{margin-top:12px; padding-top:31px; width:241px;}
.album .songs .song{margin: 0 3px; width:auto; padding:5px; color:White; font-size:13px;}
.album .songs .song.current{background: #919191;}
.album .songs .song .player{display:none;}
.album .songs .song .songTitle{cursor:pointer;}

.ui-slider{ margin-top: 7px; height:2px; background:white; cursor:pointer;}
.ui-slider-handle{width:6px; height:6px; display:block; background:White; top:-2px; position:relative;}

/*Video*/

#currentVideo{padding:0px 0px 10px; width:auto; text-align:center; background:white;}
#clipDetails{ height:42px; background:#c6c6c6; text-align:left; margin-bottom:10px; padding-left:20px; padding-top:13px;}
#clipDetails h1{color:Black; font-size:24px;}
#clipDetails p{color:#747171; font-size:12px;}

#clipThumbnails{background:#c6c6c6; padding-left:10px;}
#clipThumbnails .thumbnail{ background:#a5a5a5; width:254px; padding:4px; height:64px; float:left; margin-left:8px; margin-top:8px; cursor:pointer;}
#clipThumbnails .thumbnail img{height:62px; border:1px solid #cbcbcb; float:left; margin-right:5px;}
#clipThumbnails .thumbnail.current{background:#451515;}
#clipThumbnails .thumbnail.hover{background:#ddd;}

#clipThumbnails .thumbnail p{font-size:10px;}
#clipThumbnails .thumbnail p.title{font-size:14px;}

a.bottomLogo{height:37px; float:left; display:block;}
.bottomLogo.youtubeLogo{width:86px; background:black url(img/youtubeLogo.jpg) no-repeat 0 -37px;}
.bottomLogo.vkLogo{width:100px; background:black url(img/vkLogo.jpg) no-repeat 0 -37px;}
.bottomLogo.twitterLogo{width:103px; background:black url(img/twitterLogo.jpg) no-repeat 0 -37px;}
.bottomLogo.facebookLogo{width:109px;background:black url(img/facebooklogo.jpg) no-repeat 0 -37px;}

a.bottomLogo:hover{background-position:0 0;}


.bottomLogo1.odnoklassnikiLogo{width:63px;background:black url(img/odnoklassnikilogo.jpg) no-repeat 0 -45px;}
a.bottomLogo1{height:45px; float:left; display:block;}
a.bottomLogo1:hover{background-position:0 0;}

#officialSite{position:relative; line-height:11px; height:0px; color:White; z-index:800; left:130px; top:5px; width:60px;}
#officialSite #official{font-size:13px}
#officialSite #site{font-size:19px; text-align:right;}