*{margin:0; padding:0; border:0; font-family:Times New Roman;}
body{background:black url(img/bodyBg.jpg) repeat-x;}
#main{width:837px; position:relative; margin:0 auto;}

#adminIndicator{float:right; height:0px; width:570px; text-align:right; padding-right:3px; color:red;}
#adminIndicator a{color:White;}
#player{width:auto; height:45px; border-right:1px solid white; background:black;}
#playerPresentation{height:100%; width:264px; background:#c6c6c6; text-align:center; font-size:12px;}
#playerPresentation div{float:left; line-height:45px; padding-left:10px;}
#playerPresentation div.song{line-height:43px;}
#playerPresentation .controls a{cursor:pointer;}
#playerPresentation .controls a.disabled{cursor:default;}
#playerPresentation .controls a.disabled img{opacity:0.5; filter: alpha(opacity=50);  moz-opacity:0.5;}
#header{width:835px; height:406px; border:1px solid white; background:transparent url(img/headBg.jpg) no-repeat}

#logo{position:absolute; width:261px; height:101px; left:570px; top:380px;}

#menuContainer{width:auto; height:48px; margin-top:1px; background:black;}
#menuContainer div {float:left; line-height:48px; height:48px;color:#666262; padding:0 5px;}
#menuContainer div a{color:#666262; text-decoration:none;}
#menuContainer div a:hover{color:White; text-decoration:underline;}
.menuItem.current{background-color:#585858;}
.menuItem.current a{color:White !important;}
.menuItem.current a:hover{text-decoration:none !important;}

#content{background:#C6C6C6; padding:6px; width:auto;}

#footer1{margin-top:5px; background:#5c5c5c; width:auto; height:82px;}
#footer2{margin-top:5px; width:auto; border:1px solid white; height:60px;}

