<div id="modalOverlay">
    <div id="imagePopup">
        <div id="arrows">
            <div id="leftArrow" data-dir="left"></div>
            <div id="rightArrow" data-dir="right"></div>
        </div>
        <div id="imageContainer">
            <div id="closePopup">
            </div>
            <img id="largeImage" />
            <div id="imageFooter">
                <div class="image-title">
                    Хотите эту?<br />Введите ваш номер телефона и ждите звоночка :)
                </div>
                <div class="phone">
                    <input id="phone" type="text" />
                    <a href="javascript:void(0)">Готово</a>
                </div>
            </div>
        </div>
    </div>
</div>
