body
{
    background:black;
    color:White;
}

h2 a{color:White !important;}

.mainMenuItem, .seeMenuItem{background:White;}
.mainMenuItem a, .seeMenuItem a{color:Black;}
.mainMenuItem a:visited, .seeMenuItem a:visited{color:Black;}

textarea{background:Black;}
a{color:White;}
.inactiveBw{color:White;}
#headerRight{border-left-color:White;}

.mainMenuItemSplitter{border-left-color:White;}

.seeMenuItemSplitter{border-left-color:White;}
.seeMenuItemSplitter a{color:White;}

#footer{border-top-color:White;}

#languageSwitch span{color:White;}