body
{
    background:White;
    color:Black;
}

#left{border-left-color:Black;}
.mainMenuItem, .seeMenuItem{background:black;}
.mainMenuItem a, .seeMenuItem a{color:White;}

a{color:Black;}
.inactiveBw{color:Black;}
#headerRight{border-left-color:Black;}

#seeMenu{border-bottom-color:Black;}

#footer{border-top-color:Black;}