/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

*{margin:0; padding:0;}
body{font-family: Arial, Sans-Serif, Helvetica, Tahoma; font-size:0.8em;}

#header{width:auto; height:140px; border:1px solid #dbdbdb; margin:30px 40px 0px; min-width:1000px; }
#header, #header a{color:#7c7c7c;}
#header a{text-decoration:none;}
#header a:hover{text-decoration:underline;}
#languageSelector{padding-top:16px; margin-left:26px;}