@model IEnumerable<MBrand.Models.Statement>

<div class="maks">
    <div class="maks-caption">
        <p>Максим Ярошенко</p>,
        руководитель проектов
    </div>
    @{Html.RenderPartial("Statements", Model);}
    @{Html.RenderPartial("WeCreate");}


    ОЯЕБУ!!
</div>