@model IEnumerable<MBrand.Models.Statement>
<div id="maks">
    <div class="maks-caption">
        <p>МАКСИМ ЯРОШЕНКО,</p>
        руководитель проектов
    </div>
</div>
<div id="statementsWrapper">
    @{Html.RenderPartial("Statements", Model);}
    @{Html.RenderPartial("WeCreate");}
</div>
