@model IEnumerable<MBrand.Models.Statement>

@Html.Hidden("pageTitle", "Студия Евгения Миллера")

<div id="maks0" class="maks" style="display: none;">
    <div class="maks-caption">
        <p>ЕВГЕНИЙ МИЛЛЕР,</p>
        худрук
    </div>
</div>

<div id="maks1" class="maks" style="display: none;">
    <div class="maks-caption">
        <p>МАКСИМ ЯРОШЕНКО,</p>
        руководитель проектов
    </div>
</div>

<div id="startContent">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;МЫ СЧИТАЕМ, ЧТО
    @{Html.RenderPartial("Statements", Model);}
    @{Html.RenderAction("GetChild", "Content", new { id = "startPage" });}
</div>

