@model IEnumerable<MBrand.Models.Statement>
<link href="@Url.Content("~/Content/StartPage.css")" rel="stylesheet" type="text/css" />
<div id="maks">
    <div class="maks-caption">
        <p>МАКСИМ ЯРОШЕНКО,</p>
        руководитель проектов
    </div>
</div>

<div id="startContent">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;МЫ СЧИТАЕМ, ЧТО
    @{Html.RenderPartial("Statements", Model);}
    @{Html.RenderPartial("WeCreate");}
</div>
