body
{
    background-color: #000;
}

.designerInfoBlock
{
    width:837px;
    background:url('img/summary-bg.gif') repeat-y;
    margin-left: 10px;
    padding: 0px;
    font-family:Arial;
}

.designerInfoBlockTop
{
    
    width:837px;
    background:url('img/summary-bg-top.gif');
    height:18px;
}

.designerInfoBlockBottom
{
    width:837px;
    background:url('img/summary-bg-bottom.gif');
    height:12px;
}

.designerContentSummaryContainer
{
    padding:10px 30px;
}

.designerContentSummary
{
    width:837px;
    background:url('img/summary-bg.gif') repeat-y;
    margin: 10px;
    padding: 0px;
}

.designerContentSummaryTop
{
    width:837px;
    background:url('img/summary-bg-top.gif');
    height:18px;
}

.designerContentSummaryBottom
{
   width:837px;
    background:url('img/summary-bg-bottom.gif');
    height:12px; 
}

.degignerName
{
    font-size: 25px;
    color: #cc0000;
    font-style: italic;
    padding-bottom: 45px;
    padding-top: 40px;
    font-family: Georgia;
}

.designerLogo
{
    float: left;
    margin:30px;
    margin-left:40px;
    
}


.designerInfo
{
    margin-left: 190px;
}

.designerSummary
{
    margin-top:30px;
    margin-right:30px;
    margin-bottom:20px;
  /* width:580px;*/
}




.designerInfoContainer
{
    margin-bottom: 20px;
}

.accordion
{
    display: none;
}

.accordion h3 a
{
    color: inherit;
    text-decoration: inherit;
    font-size: 20px;
    font-style: italic;
}

.accordion h3
{
    color: #a3a3a3;
    text-decoration: underline;
}

.red
{
    color: #cc0000 !important;
}



#all
{
    width: 1023px;
    position: relative;
    margin: 0 auto;
    background: url('img/bg-middle.gif') repeat-y;
}

#header
{
    background: url('img/bg-header.gif') no-repeat;
    width: 1023px;
    height: 272px;
}

#footer
{
    background: url('img/bg-footer.gif') no-repeat;
    width: 1023px;
    height: 253px;
}

#designedBy
{
    position: relative;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding-top: 190px;
    font-family: Georgia;
    font-size: 13px;
}

#designedBy a
{
    color: #fff;
}

#content
{
    padding: 0 80px;
}


#roomsType
{
    position: relative;
    margin-left: 30px;
    padding-top: 108px;
    text-align: center;
}

#roomsType a
{
    margin: 0 50px;
    font-size: 20px;
    font-style: italic;
    color: #0066cc;
    font-family: Georgia;
}

#roomsType a:hover
{
}

#roomsType a.selected
{
    color: #cc0000;
    text-decoration: none;
    cursor: default;
}


#headerTitle
{
    text-align: center; /*position:relative; 	margin:0 auto;*/
    padding-top: 30px;
    line-height: 35px;
}

.sign1, .sign2
{
    font-size: 25px;
    font-style: italic;
    font-family: Georgia;
}

.sign1
{
    color: #fff;
}

.sign2
{
    color: #cc0000;
}

#designerNameLink
{
    text-decoration: none;
    cursor: default;
}

.adminLink
{
    /*color: #ff0000;*/
    z-index: 1000;
}


.photoContainer
{
    float: left;
    /*border: 1px solid silver;*/
    width: 400px;
    height: 400px;
    padding: 5px;
    margin: 5px;
}

.deletePhotoLink
{
    background: url('img/close.png') no-repeat;
    width:10px;
    height:10px;
    position:absolute;
    margin-left:-10px;
    padding:5px;
}

a
{
	font-family:Arial;
	font-size:12px;
}

a.adminDesignerLink
{
	font-family:Georgia;
	font-style:italic;
	color:Black;
	font-size:20px;
}

.typeRoomLink
{
	color:#ff0000;
	font-size:14px;
}

a.toList{font-size:14px;margin-left:20px;}