.article{ padding-bottom:40px;}
.article .date{font-weight:bold; font-size:10px;}
.article .title{font-weight:bold; font-size:14px;}
.article .description{padding-top:10px;}
.article .description a{color:Black;}