*{margin:0; padding:0; border:none;}
body{background:#F2F2E6;}
#main{ background:url(img/mainBg.jpg) center no-repeat; position:relative; margin:0 auto;}

#left{width:287px; float:left;}

#right{margin-left:287px;}

#contentFrame{margin-left:48px; margin-top:33px; height:71px; width:558px;}