.dateInput{}
.watermark{color:#ccc;margin-bottom:5px;}
.wm{margin-bottom:5px;}
.wm{color:Black;}
.entityImage{width:240px; height:318px; background-image:url(img/admin/noImage.jpg); float:left; margin-left:20px; cursor:pointer;}
.entityPicture{float:left; padding-right:5px;}
.imagesPreview{clear:both; width:500px;}
.tags{width:400px; border:1px solid #CCC; height:280px; overflow:auto; margin-top:5px;}