.detailsHeader{	width: 455px; border-bottom: 2px solid white;}
.entityTitle{font-size:28px}
.topContent{margin-bottom: 20px;}
.topContent .content{width: 455px; min-height: 500px; border-bottom: 2px solid white; padding-top:10px; font-size:12px;}
.finger{float: right; height:0px;}
.finger img{position: relative;	top: -169px;}
.bottomContent{font-size:12px; width:455px;}
.tags{float:left; margin-top:-22px; color:#494949;}
.tags a{text-decoration:none; color:inherit;}
.tags a:hover{text-decoration:underline;}

/* Images */

.imagesContainer{width:550px;}
.image{float:left; margin-right:25px; padding-bottom:25px;}

/* Video */
.video{padding:25px;}
