*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: Times New Roman;
	color: white;
}
body
{
	background: black;
}
input{color:Black;}
#main
{
	width: 1024px;
	position: relative;
	margin: 0 auto;
}
#left
{
	float: left;
	width: 301px;
}
#right
{
	float: left;
	width: 722px;
	border-left: 1px solid #737373;
}
#content
{
	padding-left: 10px;
	min-height:1000px;
}
#bottomRight
{
	width: 722px;
	height: 128px;
	background: transparent url(img/bottomRight.jpg);
}
#handEye
{
	clear: both;
}
#handEye img
{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.entityDate
{
	width: 202px;
	border-bottom: 2px solid black;
	color: #7F7D7D;
	font-size: 12px;
	padding-bottom: 5px;
}

.mail{position:absolute; right:26px; bottom:35px;}

#tagCloud{padding-left:51px;}