.articleDetails{background:white; width:800px; height:600px;overflow:auto; padding:20px;}
.articleDetails .articleDetails{overflow:auto;}
.articleImage, .articleText{float:left;}
.articleDetails{clear:both;}
.articleImage{width:76px;}
.articleText{width:644px; padding-left:10px;}
.articleTitle, .articleTitleFirst{text-transform:uppercase; font-weight:400;}
.articleTitle{color:#03106a; font-size:18px;}
.articleTitleFirst{color:#be1927; font-size:21px;}
.articleDate, .articleDateFirst{font-size:11px; color:#6b87c5;}
.articleDateFirst{color:#fb8c95;}
.articleDetailsLink{width:inherit; border-bottom:1px solid #6b87c5; text-align:right;}
.articleDetailsLink a{color:#be2434; font-size:14px; text-decoration:none;}
.articleDetailsLink a:hover{text-decoration:underline;}
.article{margin-bottom:20px;}
.articleDetailPicture{float:left; margin-right:10px;}
