    <div id="footer">
        <div id="footerContent">
            <div id="copyright">
                <p class="large">
                    ©
                </p>
                <p class="small">
                    СТУДИЯ ЕВГЕНИЯ МИЛЛЕРА
                </p>
                <p class="large">
                    @DateTime.Now.Year
                </p>
            </div>
            <div id="secretLink">
                <a href="/Home/SecretLink" rel="address:/secretLink">СЕКРЕТНАЯ ССЫЛКА</a>
            </div>
            <div class="socials">
                <div class="likePlease">
                    Лайкать разрешено:
                </div>
                <div id="likeContainer" class="social fb">
                </div>
                <div class="vk-share social">
                </div>
                <div class="social twitter">
                    <a class="twitter-share-button" href="http://twitter.com/share" data-url="http://eugene-miller.com">Tweet</a>
                </div>
                <div id="plusOne" class="social plusone">
                </div>
            </div>
        </div>
    </div>
