<div id="mainNav">
    @{Html.RenderPartial("Logo");}
    <a href="@Url.Action("Start","Home")" rel="address:/works">НАШИ РАБОТЫ</a>
    <a href="@Url.Action("Contacts","Home")" rel="address:/contacts">СВЯЗАТЬСЯ</a>
</div>
