*{padding:0px; margin:0px;}
body, html{height:100%; text-align:center;}

.hdn{overflow:hidden; width:100px;}
.invissible{display:none;}
a{color:#969696;}
a:hover{text-decoration:underline;}
#header{border:1px solid #969696; font-weight:bold; width:100%; float:left; text-align:left}
#mainMenu{float:left;}
#profileMenu{float:right; padding-right:20px;}

#leftSide{float:left; border-collapse:collapse; border:1px solid #969696; width:20%; text-align:left;}
#rightSide{float:left; border-collapse:collapse; border:1px solid #969696; width:78%; text-align:left;}
#singlePart{float:left; text-align:left;}

.paramsDiv{position:absolute;display:none; float:left; background-color:White; border:1px solid #969696;}
.labelDiv{ clear:both; float:left; width:90px; text-align:left;}
.inputDiv{float:left; text-align:left;}
#paramDiv{width:320px; height:360px; padding-left:5px;}

.paramsSubmitContainer{width:inherit;margin:0 auto; text-align:center; clear:both; float:left;}
.paramsSubmitContainer input{ width:80px;}
.paramsCloseLabel{text-align:right;}
.galleryUploadHolder{float:left; padding-left:20px;}
