.wrap0, .wrap1, .wrap2, .wrap3 {
  display:inline-table;
  /* \*/display:block;/**/
  }
.wrap0 {
  float:left;
  background:url(shadow/shadow.gif) right bottom no-repeat;
  }
.wrap1 {
  background:url(shadow/shadow180.gif) no-repeat;
  }
.wrap2 {
  background:url(shadow/corner_bl.gif) -18px 100% no-repeat;
  }
.wrap3 {
padding:10px 14px 14px 10px;
  background:url(shadow/corner_tr.gif) 100% -18px no-repeat;
  }