*{margin:0; padding:0;}
.centered{text-align:center;}
h2{font-size:16px;}
body{font-family: Tahoma, Sans-Serif, Helvetica, Tahoma; font-size:0.8em;}
select
{border:1px solid #bdbdbd; color:#8d8d8d;}
#header, #mainMenu, #breadCrumbs{width:auto; margin:30px 40px 0px; min-width:1095px;}
#content{min-width:920px;}
.greyBg{background:#CFDAD7}
.whiteBg{background:white;}

#header{height:142px; background:#092D45; border:1px solid #5F798A;}
#header .headerContent{width:100%;}
#header .leftBorder, #header .rightBorder{ width:7px; height:142px;}
#header .rightBorder{float:right; background: transparent url(img/headerRight.jpg)}
#header .leftBorder{float:left; background: transparent url(img/headerLeft.jpg)}

#masterLogin{border-left:1px solid #234256;
float:right;
height:142px;
width:195px;
margin-right:40px;
}
.registerLink{text-decoration:none;}
.registerLink:hover{text-decoration:underline;}
.logonInput{width:135px;}

#mainMenu{margin-top:0px;}
#mainMenu .outer{float:right; position:relative; padding:0px 10px; height:20px;}
#mainMenu .outer .inner{padding:0px 5px; color:#969696; font-size:13px; height:20px;}
#mainMenu .outer .inner a{color:#969696;font-size:13px; text-decoration:none;}
#mainMenu .outer .inner a:hover{text-decoration:underline;}

#breadCrumbs{height:20px; padding-top:10px;}

#header, #header a{color:white;}
#header a{text-decoration:none;}
#header a:hover{text-decoration:underline;}
#languageSelector{padding-top:16px; margin-left:26px;}
#headerSelectors{padding-top:50px; padding-left:16px;}
#headerSelectors table tr td{padding-left:10px;}
#headerSelectors table tr td select{width:160px;}
#headerRight{position:absolute;}
#logo{padding-left:200px;}

#leftSide
{
    float:left; 
    border-left: 1px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding:18px 6px 35px 18px;
}
#content{width:auto; margin:0px 215px 0px 40px; border-top:6px solid #99B6BA;}

#mainContent{padding:20px; margin-left:212px; border:2px solid #dbdbdb; border-top:none;}



.menu{width:175px;}
.menuHeader{width:auto; height:15px; padding:5px; background:transparent url(img/subHeader.jpg); color:White;}
.menuItems{height:225px; width:auto; overflow:auto; background:transparent url(img/subItem.jpg)}
.menuFooter{width:auto; height:11px; background: transparent url(img/subFooter.jpg)}
.menuItem{width:auto; height: 15px; padding:5px; background:transparent url(img/subItemActive.jpg)}
.menuItem a{text-decoration:none; color:#324D62; font-size:12px;}
.subMenuItem{width:auto; padding:5px 5px 5px 15px; }

.adminTable tr td{border-collapse:collapse; border:1px dotted #ccc; padding:3px;}
.shader{background:white; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:0; left:0; width:100%; height:100%; display:none; z-index:10000;}
.greyBorderBox{padding:10px; border: 1px solid #dbdbdb;  background:white;}
.popUpBox{position:absolute; display:none; z-index:10001;}

#imagePopUp{width:400px; height:300px;}
iframe{padding:0; margin:0; border:none;}

.productDescriptionLink
{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: Times New Roman;
    color: #800080;
}

.categoryItem{text-align:center; float:left; padding:0px 15px;}
.categoryImage{height:110px}
.categoryLink{color:Black; font-size:12px; text-decoration:none; position:relative; z-index:100;}

.dealerLogo{float:left; padding:5px 10px; height:120px;}
.dalerOnline
{
    position:absolute; 
    z-index:100; 
    margin-left:-40px; 
    width:40px; 
    height:28px; 
    background:transparent url(img/online.png);
}


.commonTable{ border-collapse:collapse; }
.commonTable th{background-color:#f4fef5; border:1px solid black; border-collapse:collapse; padding:15px; font-size:12px;}
.commonTable td{border:1px solid black; border-collapse:collapse; padding: 0px 5px}

.productDescription{}
.orderDescription{}
.cartDescription{}

.subHeader{	height:125px; background: transparent url(img/cartBg.jpg) repeat-x 0px 70px; }
.subHeaderCurrentDealer{float:left;}

.cartContainer{}
.cartTable tr th,.cartTable tr td {text-align:center; padding:5px; padding-bottom:0; white-space:nowrap;}
.cartTable tr th {font-size:10px; font-weight:bold;}
.cartTable tr td{ font-weight:bold; color:#b62727; }
.cartTable tr td div{cursor:pointer; width:29px; height:50px; background: transparent url(img/cartActive.jpg) no-repeat 0 100%; padding-right:10px;}
.cartDisabled{background: transparent url(img/cart.jpg) no-repeat 0 100% !important;}

.deliveryInfo, .userFeedback{margin-top:10px; float:left;  text-align:center; padding: 5px 20px 10px 0;}
.userFeedback{width:200px;}
.deliveryInfo{width:220px;  background:transparent url(img/truck.jpg) no-repeat 100% 0;}
.dealerFeedbackLinkFirst, .deliveryInfoLinkSecond{text-transform:uppercase; font-size:14px; color:Black; text-decoration:none;}
.dealerFeedbacLinkSecond, .deliveryInfoLinkFirst{text-transform:none; color: #2b587a; font-size:12px; line-height:20px; text-decoration:none;}
.dealerDescription{ border: 1px solid #dbdbdb; padding:10px;}

.dealerDescription div.descriptionHeader{color:#2b587a; text-align:center; font-size:14px;}
#feedbackConteiner{ padding:10px; width:auto;}
#createFeedback{width:auto; padding:10px; text-align:center;}
.feedbackTextInput{width:100%; text-align:left; height:100px;}
.registerToFeedback{padding:10px; width:auto; text-align:center;}

.validationError{color:Red;}

.breadCrumb a{color:#c2bfbf; text-decoration:none; padding-right:5px;}
.breadCrumb a:hover{text-decoration:underline;}
.breadCrumbSeparator{color:#c2bfbf; padding-right:5px;}
.currentBreadCrumb{color:#2b587a;}
.headerSelect{background-color:#092d45; border:1px solid teal; color:Teal;  padding:0 5px; font-weight:bold;}

.topDealers{border:1px solid #DBDBDB; background:#F4F4F4; margin-right:0px;  margin-bottom:10px; padding:10px}

.productDescriptionImage{float:left; margin-right:10px; margin-bottom:5px;}


.statusNew a{color:#ff40ff;}
.statusAccepted a{ color:#fe0101;}
.statusComplited a{ background-color:#1c902a;}
.statusCanceled a{ color:#2d06d5;}
a.redLink{color:#fe0101 !important;}

.logOnProperties{padding:10px;}
#dealerOrdersInfo{padding:0 10px;}

.feedbackItem{border-bottom:1px dashed #ccc; margin-bottom:10px;}
.feedbackItem .itemHeader a {color:#ACABAB; text-decoration:none;}
.feedbackItem .itemHeader a:hover{text-decoration:underline;}
.feedbackItem .itemText{padding-top:10px; padding-bottom:10px;}

.groupLevel0{background-color:Beige;}
.groupLevel1{background-color:Silver;}
.groupLevel2{background-color:Gray;}

div.topProducts{border:1px solid #dbdbdb; padding:10px; background:#F4F4F4; height:183px; text-align:center; width:auto; margin-bottom:10px;}
div.topProducts span.header{color:#FE1F1F; font-size:14px;}
table.topProducts tr td{ width:130px; height:90px; font-size:11px;}
table.topProducts tr td div.topImage{border:1px solid #A0ADB6; margin-top:5px; padding:1px; margin-right:10px; width:98px; height:100px;}
table.topProducts tr td div.topText{height:28px; overflow:hidden; text-overflow:ellipsis;}
tr.topProduct td span{color:#FE1F1F;}

td.actionNew,
td.new,
td.action{background-repeat:no-repeat; background-position:right;}

td.actionNew{background-image: url(img/actionNew.jpg)}
td.action{background-image: url(img/action.jpg)}
td.new{background-image: url(img/new.jpg)}

.searchTableIneerHeader td{ border:none; border-style:none}