*{margin:0; padding:0;}
body{font-family: Arial, Sans-Serif, Helvetica, Tahoma; font-size:0.8em;}
input[type='select']
{border:1px solid #bdbdbd;}
#header, #content{width:auto; margin:30px 40px 0px; min-width:1000px;border:1px solid #dbdbdb}

#header{height:140px;}
#mainMenu{float:right; height:16px; margin:0 40px 0 0;}
#header, #header a{color:#7c7c7c;}
#header a{text-decoration:none;}
#header a:hover{text-decoration:underline;}
#languageSelector{padding-top:16px; margin-left:26px;}
#headerSelectors{padding-top:50px; padding-left:16px;}
#headerSelectors div{float:left; padding-left:10px;}
#headerSelectors div select{width:160px;}
#headerRight, #logo{float:left;}
#logo{position:relative; left:20px; top:15px;}
#logo img{width:322px; height:143px;}
#mainContent{padding:20px;}
