#practicesHolder{width:668px;float:left;}
.practiceItem{}
.practiceImage{padding:5px; background-color:#607286;}
.practiceTextHolder{vertical-align:middle; height:191px; vertical-align:middle; padding-left:5px;}
.practiceText{border-left:1px solid white; padding-left:5px; padding-bottom:2px;}
.practiceTextCell{padding-left:10px;}
.imageSpacer{height:10px;width:5px; float:left;}
.practicePicture{border:1px solid white; border-width:1px !important;}
.practiceItemsSeparator{background-color:White; height:1px; width:100%; margin:20px 0;}
.paging{float:left; clear:both;width:650px; font-size:18px; font-family:Arial;}
.paging a{color:White; text-decoration:none; font-family:inherit;}
.currentPage{font-family:inherit; color:Black; background:white;}