@model IEnumerable<MBrand.Models.Statement>
<div id="maks">
    <div class="maks-caption">
        <p>ЕВГЕНИЙ МИЛЛЕР,</p>
        худрук
    </div>
</div>

<div id="startContent">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;МЫ СЧИТАЕМ, ЧТО
    @{Html.RenderPartial("Statements", Model);}
    @{Html.RenderAction("GetChild", "Content", new { id = "startPage"});}
</div>
