@model IEnumerable<MBrand.Models.Statement>

<div id="statements">
    @foreach (var statement in Model)
    {
        <div>
            @Html.Raw(statement.Text)
        </div>
    }
</div>

@if (Request.IsAuthenticated) { 
    @Html.ActionLink("Редактировать", "Index", new { area = "Admin", controller = "Statements" }, new { @class = "adminLink"});
}