.workItem{float:left; text-align:center; padding:10px;}

.adminTable tr td{color:Black;}
.adminTable tr td input, .adminTable tr td textarea{width:100%;}
.adminTable tr td textarea{ background-color:White;}