body
{
    background:black;
    color:White;
}

#left{border-left-color:White;}
.mainMenuItem, .seeMenuItem{background:White;}
.mainMenuItem a, .seeMenuItem a{color:Black;}

textarea{background:Black;}
a{color:White;}
.inactiveBw{color:White;}
#headerRight{border-left-color:White;}

#seeMenu{border-bottom-color:White;}

#footer{border-top-color:White;}

#languageSwitch span{color:White;}