.shader{}

*{margin:0; padding:0;}
body{font-family:Arial; font-size:12px;}
img{border:none;}
h2{font-size:20px; font-weight:normal;}
h2 a{font-size:20px !important;}
h2 a:hover{}
#main{width:998px; position:relative; margin:60px auto 0px;}
#header{width:100%; height:77px;}
#logo{float:left; width:110px; font-size:0px; padding-top:18px;}
#headerRight
{
    width:auto; 
    margin-left:130px; 
    border-left:1px solid; 
    padding-left:16px; 
    
    padding-bottom:2px; 
    
    margin-top:10px;
    height:60px;
    padding-top:26px;
}

#headerRight h1
{
    text-transform:uppercase; 
    font-size:30px;
    font-weight:normal;
}


.blackWhiteSwitch{margin-left:111px;}

#left{float:left; width:245px; padding-top:100px; clear:both; min-height:400px;}
#content{width:auto; padding-top:30px; float:left; width:752px;}
#mainMenu{}
.mainMenuItem{clear:both; padding:2px 5px 2px; margin-right:120px;}
.mainMenuItem a, .seeMenuItem a{font-size:12px;text-decoration:none;}
.mainMenuItem.bold a {text-decoration:none;}
.mainMenuItemSplitter{height:10px; float:left; clear:both; width:1px; border-left-style:solid; border-left-width:1px;}
.bold {font-weight:bold;}
.inactiveBw{font-size:12px; font-weight:bold;}
a{font-size:12px;}
a:visited{color:#808080;}

.switch{text-decoration:none;}
.switch:hover{text-decoration:underline;}

.watermark{color:#aaa;}
.addEditNote{width:700px; padding:10px;}
.addEditNote input{width:300px; margin-bottom:5px;}

.note{border-bottom:1px solid #808080; width:auto; padding-bottom:10px; margin-bottom:10px;}
.note img{float:left; margin-right:20px;}
#notesHolder{padding-bottom:30px;}
#pager{text-align:center;}
#pager span{}
.pageLink{text-decoration:none;}
.pageLink:hover{text-decoration:underline;}
.pagesArrow{text-decoration:none !important;}
.pagerDate{text-decoration:none !important; color:#808080; font-size:10px;}
#noteHeader{font-size:14px; border-bottom:1px solid #808080; padding-bottom:10px; margin-bottom:10px;}
#noteHeader .date{font-size:12px; color:#808080;}

.millerStudio span{display:block; position:relative; top:-5px;}
.millerStudio span.studio{font-size:15px; font-weight:normal; text-transform:none;}
.millerStudio span.ofMiller{font-size:23px; font-weight:bold; text-transform:none;}

#seeContainer{height:418px;}
#seeMenu{padding-left:20px; clear:both; display:none; float:left;}
.seeMenuItem{margin-left:10px; padding: 2px 5px; float:left; clear:both; white-space:nowrap;}
.seeMenuItem.bold a{text-decoration:none;}
.seeMenuItemSplitter
{
	margin-left:10px; 
	float:left; 
	clear:both; 
	padding-bottom:10px; 
	border-left-style:solid; 
	border-left-width:1px;
	padding-left:20px;
	font-size:0px;
	white-space:nowrap;
}


.seeMenuItemSplitter{width:180px;}
.seeMenuItemSplitter a{margin-top:10px; display:block; white-space:normal !important;}

.seeMenuItemSplitter a.current{text-decoration:none; font-weight:bold;}

.workGroupItem{width:240px; height:355px; float:left;}
.workGroupItem img{display:block; margin: 15px 0; clear:both;}
.workGroupItem div{padding-left:10px; width:170px;}
.workGroupItem div.date{ font-size:10px; float:left;}
.workGroupItem div.description{font-size:12px;}

.workGroupItem div.adminLinks{float:right; padding:0; margin:0; width:40px !important; padding-right:40px;}
.workGroupItem div.adminLinks img{display:inline !important; margin:0 !important;}

.workDescription{padding-top:40px;}
.workImage{padding-top:10px;}
/*
#randomImageHolder{background:#E6E7E2; width:465px; height:330px; position:relative; text-align:center;}
#randomImageHolder div img{z-index:100;}
#randomImageHolder #forward{position:absolute; left:435px; top:300px;}
#randomImageHolder #back{position:absolute; left:2px; top:300px;}
#randomImageHolder #zoom{position:absolute; left:427px; top:3px;}

#description{padding-top:20px;}
*/

.adminLink{color:Red !important;}

#footer{float:right; padding-bottom:30px; padding-top:30px; text-align:left; color:#808080; border-top-width:1px; border-top-style:solid; margin-top:10px; padding-top:5px;}
#footer a{color:#808080;}

#languageSwitch{color:#808080; float:right;}
#languageSwitch a{color:#808080;}
#languageSwitch a:hover{text-decoration:underline;}

#languageSwitch span{font-weight:bold;}


.commonContentWrapper{padding-top:70px;}

.editor-field{margin-bottom:20px;}

.editor-field textarea{width:320px;}
.editor-field input{width:200px;}
.field-validation-error{color:Red; font-size:10px;}

.seoCustomText
{
    margin-top:10px;
    background-color:#f8f3dd;
    border:3px solid #f0ede8;
    padding:30px;
}


#seoFooter
{
    margin-left:250px;
    margin-bottom:80px;
}

.secretImagesContainer
{
	padding-top: 60px;
}

.secretImagesContainer img
{
	border: 1px solid silver;
}

.secretImage
{
	padding-right: 64px;
	padding-bottom: 64px;
	display: inline-block;
}