.carAddAdminImage{float:left; margin-right:5px;}
#imagesForm input[type='submit']{ clear:both; }
#imagesForm .deleteLink{display:block; float:left; margin-left:-24px; width:24px; height:24px; background:url(img/delete.gif)}
.carAddAdminImage img{float:left; display:block;}
.carAddAdminImage input{position:relative; float:left; left:-150px;}

#contentEditor input{width:100%;}
#contentEditor p{padding-bottom:30px;}
#login p{padding-bottom:20px;}
#login{padding-top:20px;}

.routeContainer{float:left; margin-right:10px;}
.newRoute{clear:both; padding:5px 0; border:1px solid #868686;}

.watermark{color:Gray;}

#addRouteLabel{float:left; clear:both; padding:0 5px; background:#676767; text-transform:uppercase; color:White; font-weight:bold; margin-top:20px;}

#addRouteProperties div{float:left; padding-left:10px;}

#addRoutePricesLabel{clear:both; background:#676767;  text-transform:uppercase; color:White; margin-top:10px; font-weight:bold; padding:0 5px;}

#addRoutePrices div{float:left; padding-left:10px; padding-top:10px;}
#addRoutePrices input{width:80px;}

.modalBackground{background:black; opacity:0.5; -moz-opacity:0.5; filter: alpha(opacity=50);}