#newsContainer{padding-top:30px;}

.newsItem{padding-bottom:20px;}

.newsItem .date{ color:#999; font-size:9px; font-weight:bold;}
.newsItem h3{ font-size:12px; }
.newsItem .text{ padding-top:10px;}