/*STEP1 PAGE STYLE START*/
.textBoxWrapper{margin:0 37px; width:auto; display:block;padding:0 0 30px 0;}
.textBoxWrapper h6{left:-37px; display:block; position:relative;}
#contentBox form input[type='text'], #contentBox form textarea{width:100%;}

#contentBoxStep1   {height:100px; height:auto; width:100px; width:auto;}
#contentBoxStep1 h2{color:#999999; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;}
#contentBoxStep1 h3{color:#000000; font-family:Tahoma, Helvetica, sans-serif;font-weight:bold; font-size:13px;padding:0 0 3px 0;}
#contentBoxStep1 h4{color:#666666;font-family: Tahoma, Helvetica, sans-serif;font-weight:normal; font-size:12px;}
#contentBoxStep1 h5{color:#000000; font-family: Tahoma, Helvetica, sans-serif;font-weight:bold; font-size:12px; padding:7px 0 0 0;}
#contentBoxStep1 h6{color:#666666;font-family: Tahoma, Helvetica, sans-serif;font-weight:normal; font-size:10px;margin:0 0 0 37px;}
#contentBoxStep1 p{color:#000000;font-family: Tahoma, Helvetica, sans-serif;font-weight:normal; font-size:11px;margin:0 0 0 37px;}
#contentBoxStep1 a{color:#3366ff; font-weight:bold;}

#raschetBox{width:345px; height:73px;background:url(img/raschetBg.jpg) repeat-x;margin:0 0 0 37px;}
#raschetBoxLeft{width:6px; height:73px; border:0px solid blue; float:left;background:url(img/raschetLeft.jpg) no-repeat;}
#raschetBoxRight{width:6px; height:73px; border:0px solid green; float:right;background:url(img/raschetRight.jpg) no-repeat;}
#raschetBoxContent{min-width:200px; width:auto; height:73px; border:0px solid blue; float:left;}
#opusMarsh{width:340px; height:48px;}
#daliButton{width:74px; width:auto; height:75px;margin:30px 0px 0px 0px;border:0px solid red; background:#f7f6ef;text-align:center;}
.lessFont{color:#000000; font-family: Tahoma, Helvetica, sans-serif;font-weight: normal; font-size:13px;}
.lessFont2{color:#000000; font-family: Tahoma, Helvetica, sans-serif;font-weight: normal; font-size:12px;}
#rightImageBox{height:176px;width:228px; width:auto;background:url(img/meeting.jpg) no-repeat right;margin:-20px -35px 0 0px;}
#taxBox{margin: 60px 0 0 0;height:190px;width:161px;background:url(img/taxBanner.jpg) no-repeat;}
/*STEP1 PAGE STYLE FINISH*/
/*STEP2 PAGE STYLE START*/
#redCar{height:150px;width:228px; width:auto;background:url(img/redCar.jpg) no-repeat right;}
#escalator{height:200px;width:228px; width:auto;margin:0px 0x 20px 0px;bottom:125px; position: relative;}
/*STEP2 PAGE STYLE FINISH*/
