*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #000;
    overflow: auto;
    overflow-x: hidden;
}

#page
{
    width: 1084px;
    position: relative;
    margin: 0 auto;
}

#header
{
    height: 185px;
    position: relative;
    margin: 0 auto;
    background: url('img/obzor-bg-top.gif');
    background-repeat: no-repeat;
    background-position: 50% 0px;
}

#mainContentHead
{
    position: relative;
    margin: 0 auto;
    background-image: url('img/obzor-inner-bg-top.gif');
    height: 121px;
}

#main
{
    background: url('img/obzor-inner-bg-middle.gif') repeat-y;
    position: relative;
    margin: 0 auto;
}

#mainContentBottom
{
    background: url('img/obzor-inner-bg-bottom.gif') repeat-y;
    position: relative;
    margin: 0 auto;
    height: 90px;
}

#reviewFooter
{
    height: 94px;
    position: relative;
    margin: 0 auto;
    background: url('img/obzor-bg-bottom.gif');
    background-repeat: no-repeat;
    background-position: 50% 0px;
}

#reviewLogo
{
    height: 47px;
    background: url('img/obzor-logo.gif') no-repeat;
    margin-left: 10px;
}

#content
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    width: 900px; /*background-color: red;*/
}

#sign
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 33px;
}

#sign, #sign a
{
    color: #fff;
    font-family: Arial;
    font-size: 12px;
}

.customBlock, .customBlockBottom, .customBlockTop
{
    width: 850px;
}

.customBlock
{
    background: url('img/custom-block-bg-middle.gif') repeat-y;
}
.customBlockBottom
{
    background: url('img/custom-block-bg-bottom.gif') no-repeat;
    height: 10px;
}
.customBlockTop
{
    background: url('img/custom-block-bg-top.gif') no-repeat;
    height: 10px;
}
.customBlockContent
{
    padding: 20px 120px;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    line-height: 17px;
}


.reviewContent
{
    width: 440px;
    margin-bottom: 150px;
}

.reviewContent .image
{
    float: left;
}

.reviewContent .content
{
    margin-left: 180px;
    padding-left: 25px;
}

.reviewContent .content .title
{
    padding-top: 45px;
}

.reviewContent .content .title a
{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    font-size: 17px;
}

.reviewContent .content .description
{
    padding-top: 10px;
    padding-right: 30px;
    font-family: Arial;
    font-size: 12px;
}

.reviewThumbnailsTable td
{
    vertical-align: top;
}


.reviewDetails .title
{
    font-family: Georgia;
    font-size: 60px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.reviewDetails .description
{
    width: 500px;
    position: relative;
    margin: 0 auto;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
}


.reviewDetails .contentBlock
{
    padding: 20px 0;
    font-family: Arial;
    font-size: 14px;
    color: #666666;
}


.reviewDetails .reviewDetailsImage
{
    float: left;
    margin: 15px;
}

.reviewDetails .reviewDetailsImages
{
    padding-left: 55px;
}

.reviewDetails .reviewDetailsImage img
{
    border: 7px solid #cccccc;
}

.pattern1, .pattern2
{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.pattern1
{
    width: 40px;
    height: 16px;
    background-image: url('img/pattern1.gif');
    margin-bottom: 50px;
}

.pattern2
{
    width: 37px;
    height: 14px;
    background-image: url('img/pattern2.gif');
}

.sOrderContaider
{
    color: Fuchsia;
    font-weight: bold;
    font-size: 14px;
}

#reviewMenuContainer
{
    height: 1000px;
    position: absolute;
    color: Black;
    float: right;
    left: 902px;
    width: 1000px;
}


.menuLinkPlace
{
    width: 1000px;
    background-color: #0b0b0b;
    margin-bottom: 6px;
}

.menuLinkPlace.home
{
    margin-top: 25px;
}

#reviewMenu
{
    width: 1000px;
    margin-top: 350px;
    position: relative;
}

#reviewMenuUp, #reviewMenuBack, #reviewMenuHome
{
    width: 90px;
    height: 28px;
    display: block;
}

#reviewMenuUp
{
    background-image: url('img/obzor-menu-up.gif');
}
#reviewMenuBack
{
    background-image: url('img/obzor-menu-back.gif');
}
#reviewMenuHome
{
    background-image: url('img/obzor-menu-home.gif');
}



#logoLink
{
    margin-left:87px;
    width: 233px;
    height: 47px;
    display: block;
    background: url('img/pixel.gif');
}
