/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.capital
{
    text-transform: uppercase;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

*
{
    margin: 0px;
    padding: 0px;
}
img
{
    border: 0px;
}
html, body
{
    background: #fff;
}



/*----шрифты---------*/
.slogan, .txtMenuItem
{
    font-family: 'PT Sans' , arial, serif;
}

.mainPhone, .mainAdress, .footerText, .searchTitle, .txtLeftMenu, .txtPageName, 
.txtSubMenuItem, .subMenuItem.current, .txtPager, .txtBubbleNew, .txtBrand
{
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------внешность--------------------------------------------------*/

#all
{
    margin: 0px auto;
    background: black; /* width: auto;*/
}

#logoBox
{
    /* position: relative;     top: 29px;     left: 20px;*/
    margin: 29px 0px 0px 20px;
    width: 158px;
    height: 70px;
    float: left;
}

#logoBox .slogan
{
    /*line-height: 12px;*/
    font-size: 12px;
    text-align: center;
    font-family: 'PT Sans' , arial, serif;
    color: White;
}

#logo
{
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 54px;
    background: url('./img/logo.png') no-repeat;
}

#toper
{
    /*position: relative;*/ /* z-index: 0;*/
    min-width: 1100px;
    min-height: 1012px;
    background: url('./img/bkgHeader.gif') no-repeat;
    background-position: left top;
}

#header
{
    height: 105px;
}


#headerRight
{
    float: right;
    margin: 40px 50px 0px 0px;
}


.mainPhone, .mainAdress, .footerMiller
{
    color: White;
}

.footerText, .searchTitle, .txtMenuItem
{
    color: #999999;
}

.mainPhone
{
    font-size: 25px;
}

.mainAdress, .footerText, .footerMiller
{
    font-size: 12px;
}

.footerText, .footerMiller
{
    text-align: center;
}

#leftItems
{
    float: left;
}

#footer
{
    position: relative;
    z-index: 0;
    margin-top: -165px;
    min-width: 1100px;
    min-height: 312px;
    background: url('./img/bkgFooter.gif') no-repeat;
    background-position: left bottom;
}

#designedBy
{
    padding-top: 220px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

#menuMain
{
    /*min-*/
    width: 570px;
    height: 110px;
    position: absolute;
    top: 80px;
}

#menuBox
{
    /*min-*/
    width: 570px;
    height: 110px;
    margin-left: 260px; /* z-index: 1; */
}

#firstTab, #secondTab, #thirdTab
{
    /*margin-top: 74px;*/ /* bottom: 0px;*/
    width: 184px;
    height: 43px;
    background: url('./img/firstTab.gif') no-repeat;
}

#firstTab
{
    /* position: absolute;*/
    float: left; /*left: 0px;*/
}

#secondTab
{
    margin: 0px auto 0px auto;
}

#thirdTab
{
    /* position: absolute;*/
    float: right; /* right: 0px;*/
}

#menuBox .txtMenuItem
{
    padding-top: 15px;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
}

#contentBox
{
    margin-top: 20px;
    position: relative;
    margin-left: 180px;
    z-index: 1;
    min-width: 920px;
    min-height: 890px;
    background: white;
}

#contentBox .left
{
    min-width: 618px;
    min-height: 890px; /*background: url('./img/bkgMainContentLeft.gif') no-repeat; */
    margin-right: 296px;
}

#contentBox .leftTop
{
    min-width: 618px;
    height: 110px;
    background: url('./img/bkgMainContentLeftTop.gif') no-repeat;
}

#contentBox .leftMid
{
    min-width: 618px;
    min-height: 700px;
    background: white;
}

#contentBox .leftBottom
{
    min-width: 618px;
    height: 80px;
    background: url('./img/bkgMainContentLeftBottom.gif') no-repeat;
}

#contentBox .leftTopBackground
{
    width: 186px;
    height: 260px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    left: 0px;
    background: url('./img/bkgMainContentLeftTop.png') no-repeat;
    background-position: left top;
}

#contentBox .leftBottomBackground
{
    width: 318px;
    height: 196px;
    position: absolute; /* z-index: 2;*/
    bottom: 0px;
    left: 0px;
    background: url('./img/bkgMainContentLeftBottom.png ') no-repeat;
    background-position: left bottom;
}

#contentBox .right
{
    float: right;
    min-width: 295px;
    min-height: 890px;
    background: url('./img/bkgMainContentRight.gif') repeat-y;
    background-position: right;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}



#contentBox .rightTopBackground
{
    width: 190px;
    height: 318px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    right: 0px;
    background: url('./img/bkgMainContentRightTop.png') no-repeat;
    background-position: right top;
}

#contentBox .rightBottomBackground
{
    margin-left: 106px; /*z-index: 2;*/
    width: 186px;
    height: 260px;
    position: absolute;
    background: url('./img/bkgMainContentRightBottom.png') no-repeat;
    background-position: right bottom;
    bottom: 0px;
    right: 0px;
}


#contentBox .titleBox
{
    /*z-index: 3;*/
    margin-left: 75px;
    padding-top: 20px;
}


#pager
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px; /*position: relative;*/
    width: 100px; /* padding-top: -30px;*/ /* margin-top: -55px;*/
}

#pager .txtPager
{
    color: Black;
    font-size: 13px;
}

#searchBox
{
    margin: 55px 0px 0px 19px;
    width: 150px;
}

#searchBox .searchTitle
{
    line-height: 20px;
    text-align: center;
    font-size: 11px;
}



#searchField
{
    bottom: 2px;
    position: relative;
    height: 17px;
    width: 120px; /*float: left;*/
    padding: 0px 0px 0px 5px;
    font: Verdana, Arial, Helvetica, sans-serif bold;
    font-size: 12px;
    color: Black;
    border: none;
    background: none;
}

#bkgSearchField
{
    margin-left: 10px;
    width: 128px;
    height: 17px;
    background: url('./img/searchField.gif') no-repeat;
}

#contentWrapper
{
    position: relative;
    z-index: 2;
    padding: 50px 70px 0px 75px; /*min-height: 600px;*/
}


#leftMenu
{
    width: 145px;
    padding: 20px 0px 0px 10px;
    color: Gray;
    text-align: right;
}
#leftMenu div.subMenuItem
{
    text-align: right;
    padding: 0 5px;
    width: 125px;
    margin-top: 5px;
    line-height: 13px;
}

#leftMenu .txtLeftMenu
{
    color: #999999;
    font-size: 13px;
}

#leftMenu .currentMain
{
    color: #999966;
    font-weight: bold;
}

#leftMenuElement
{
    margin-top: 12px;
}

#pageName
{
    padding-top: 40px;
}

#pageName .txtPageName
{
    font-style: italic;
    font-size: 20px;
    color: #666666;
    font-weight: bolder;
}



#leftMenu div.subMenuItem.current
{
    color: #ffffcc;
    font-size: 12px;
    font-weight: bold;
}

#leftMenu .txtSubMenuItem
{
    color: #666666;
    font-size: 12px;
}

#subGroups
{
    margin: 12px 0px 25px 0px;
}

#subGroups li{list-style-type:none;}

#bubbleNew
{
    position: relative;
    z-index: 2;
    width: 172px;
    height: 54px;
    background: url('./img/bubbleNew.png') no-repeat;
    margin-left: auto;
    /*margin-top: 55px;*/
    text-align: center;
    line-height: 17px;
    top: 55px;
}

#bubbleNew .txtBubbleNew
{
    color: #333333;
    font-size: 13px;
}
#bubbleText
{
    width: 140px;
    height: 45px;
    margin-left: 12px;
    padding-top: 7px;
}


#brand
{
margin: 115px 0px 0px 155px;
width: 120px;
    
}

#brand .txtBrand
{font-size: 15px;
 font-weight: bold;
 color: #3399ff;}
 
 #brandBanners
 {
   position: relative;
    z-index: 2;  
  width: 128px;   
  margin-top: 15px;  
  margin-left: auto;
     }
     
 .banners
 
 {width: 128px;
  height: 37px;
     margin-bottom: 7px;}    