/* Стили для вспомогательных объектов проверки
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.capital
{
    text-transform: uppercase;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

*
{
    margin: 0px;
    padding: 0px;
}
img
{
    border: 0px;
}
html, body
{
    background: #fff;
}



/*----шрифты---------*/
.slogan, .txtMenuItem
{
    font-family: 'PT Sans' , arial, serif;
}

.mainPhone, .mainAdress, .footerText, .searchTitle, .txtLeftMenu, .txtPageName, .txtSubMenuItem, .subMenuItem.current, .txtPager, .txtBubbleNew, .txtBrand, .txtSortBy, .txtSortByTitle, .txtSortByCurrent, .txtDescription
{
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------внешность--------------------------------------------------*/

#all
{
    margin: 0px auto;
    background: black; /* width: auto;*/
}

#logoBox
{
    /* position: relative;     top: 29px;     left: 20px;*/
    margin: 29px 0px 0px 20px;
    width: 158px;
    height: 70px;
    float: left;
}

#logoBoxBrandCatalog
{
    /* position: relative;     top: 29px;     left: 20px;*/
    margin: 40px 0px 0px 50px;
    width: 120px;
    height: 70px;
    float: left;
    border-right: 4px solid #999999;
    
}
#logoBoxBrandCatalog .pipec{text-align: center; width: 84px;}
#logoBoxBrandCatalog .slogan
{
    /*line-height: 12px;*/
    font-size: 12px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: White;
}

#logoBox .slogan
{
    /*line-height: 12px;*/
    font-size: 12px;
    text-align: center;
    font-family: 'PT Sans' , arial, serif;
    color: White;
}

#logo
{
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 54px;
    background: url('./img/logo.png') no-repeat;
}

#logoBrandCatalog
{
    margin-left: 2px;
    /*margin-right: auto;*/
    width: 84px;
    height: 37px;
    background: url('./img/logoBrandCatalog.png') no-repeat;
    
}

#cbBrandBox {float: left; margin: 55px 0px 0px 20px; }
#cbBrandBox, #topMenu .txtLeftMenu {font-size: 10px; font-weight: bold; color: #999999;}
#cbBrand 
{   margin: 3px 0px 0px 10px;
    width: 153px;
    height: 19px;
    background: url('./img/cbBrand.gif') no-repeat;}

#topMenu {float: left; margin: 55px 0px 0px 50px; }
#topMenu .menu
{
    /*width: 100px;*/ /*display: inline;*/
    height: 16px;
    float: left;
    margin: 3px 0px 0px 15px;
    text-align: center;
}

#topMenu .txtSubMenuItem {color: White; font-size: 13px;}
#topMenu .current {font-weight: bold;}

#toperBrandCatalog
{
    /*position: relative;*/ /* z-index: 0;*/
    min-width: 1100px;
    min-height: 850px;
    background: url('./img/bkgHeader.gif') no-repeat;
    background-position: left top;
}

#toper
{
    /*position: relative;*/ /* z-index: 0;*/
    min-width: 1100px;
    min-height: 1012px;
    background: url('./img/bkgHeader.gif') no-repeat;
    background-position: left top;
}

#header
{
    height: 105px;
}


#headerRight
{
    float: right;
    margin: 40px 50px 0px 0px;
}

#forwardBack
{
    float: right;
    margin: 60px 50px 0px 0px;
}


.mainPhone, .mainAdress, .footerMiller
{
    color: White;
}

.footerText, .searchTitle, .txtMenuItem
{
    color: #999999;
}

.mainPhone
{
    font-size: 25px;
}

.mainAdress, .footerText, .footerMiller
{
    font-size: 12px;
}

.footerText, .footerMiller
{
    text-align: center;
}

#leftItems
{
    float: left;
}

#titleBoxBrandCatalog {margin: 20px 0px 40px 150px;}
#titleBoxBrandCatalog .txtPageName
{ font-size: 22px; color: #ffffff;}
#titleBoxBrandCatalog .txtDescription{font-size: 12px; color: #cccccc; font-style: italic;}

#footer
{
    position: relative;
    z-index: 0;
    margin-top: -165px;
    min-width: 1100px;
    min-height: 312px;
    background: url('./img/bkgFooter.gif') no-repeat;
    background-position: left bottom;
}

#footerBrandCatalog
{
    position: relative;
    z-index: 0;
    margin-top: -150px;
    min-width: 1100px;
    min-height: 312px;
    background: url('./img/bkgFooter.gif') no-repeat;
    background-position: left bottom;
}

#strip

{
  opacity:0.7; filter:alpha(opacity=70); 
 z-index: 1;
 position: relative;  
 top: 153px;
 background-color:#333332;
 width: 100%;
 height: 40px;
 
    }

#designedBy
{
  position: relative;
  z-index: 2;
    background: url('./img/designedBy.png') no-repeat;
    padding-top: 10px;
    top: 210px;
     
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 54px;
    
}

#menuMain
{
    /*min-*/
    width: 570px;
    height: 110px;
    position: absolute;
    top: 80px;
}

#menuBox
{
    /*min-*/
    width: 570px;
    height: 110px;
    margin-left: 260px; /* z-index: 1; */
}

#firstTab, #secondTab, #thirdTab
{
    /*margin-top: 74px;*/ /* bottom: 0px;*/
    width: 184px;
    height: 43px;
    background: url('./img/firstTab.gif') no-repeat;
}

#firstTab
{
    /* position: absolute;*/
    float: left; /*left: 0px;*/
}

#secondTab
{
    margin: 0px auto 0px auto;
}

#thirdTab
{
    /* position: absolute;*/
    float: right; /* right: 0px;*/
}

#menuBox .txtMenuItem
{
    padding-top: 15px;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
}

#contentBoxBrandCatalog
{
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 1007px;
    height: 650px;
    /*background: white;  */
    }

#contentBoxBrandCatalog .corner_ne
{ width: 21px;
    height: 24px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    right: 0px;
    background: url('./img/corner_ne.png') no-repeat;
    background-position: right top;}
    
    
#contentBoxBrandCatalog .corner_nw
{ width: 21px;
    height: 29px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    left: 0px;
    background: url('./img/corner_nw.png') no-repeat;
    background-position: left top;}
    
    #contentBoxBrandCatalog .corner_sw
{ width: 26px;
    height: 26px;
    position: absolute; /*z-index: 2;*/
    bottom: 0px;
    left: 0px;
    background: url('./img/corner_sw.png') no-repeat;
    background-position: left bottom;}
    
    #contentBoxBrandCatalog .corner_se
{ width: 24px;
    height: 25px;
    position: absolute; /*z-index: 2;*/
    bottom: 0px;
    right: 0px;
    background: url('./img/corner_se.png') no-repeat;
    background-position: right bottom;}
    
#contentBox
{
    margin-top: 20px;
    position: relative;
    margin-left: 180px;
    z-index: 1;
    min-width: 920px;
    min-height: 890px;
    background: white;
}

#contentBox .left
{
    min-width: 618px;
    min-height: 890px; /*background: url('./img/bkgMainContentLeft.gif') no-repeat; */
    margin-right: 296px;
}

#contentBox .leftTop
{
    min-width: 618px;
    height: 110px;
    background: url('./img/bkgMainContentLeftTop.gif') no-repeat;
}

#contentBox .leftMid
{
    min-width: 618px;
    min-height: 700px;
    background: white;
}

#contentBox .leftBottom
{
    min-width: 618px;
    height: 80px;
    background: url('./img/bkgMainContentLeftBottom.gif') no-repeat;
}

#contentBox .leftTopBackground
{
    width: 186px;
    height: 260px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    left: 0px;
    background: url('./img/bkgMainContentLeftTop.png') no-repeat;
    background-position: left top;
}

#contentBox .leftBottomBackground
{
    width: 318px;
    height: 196px;
    position: absolute; /* z-index: 2;*/
    bottom: 0px;
    left: 0px;
    background: url('./img/bkgMainContentLeftBottom.png ') no-repeat;
    background-position: left bottom;
}

#contentBox .right
{
    float: right;
    min-width: 295px;
    min-height: 890px;
    background: url('./img/bkgMainContentRight.gif') repeat-y;
    background-position: right;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}



#contentBox .rightTopBackground
{
    width: 190px;
    height: 318px;
    position: absolute; /*z-index: 2;*/
    top: 0px;
    right: 0px;
    background: url('./img/bkgMainContentRightTop.png') no-repeat;
    background-position: right top;
}

#contentBox .rightBottomBackground
{
    margin-left: 106px; /*z-index: 2;*/
    width: 186px;
    height: 260px;
    position: absolute;
    background: url('./img/bkgMainContentRightBottom.png') no-repeat;
    background-position: right bottom;
    bottom: 0px;
    right: 0px;
}



#contentBox .titleBox
{
    /*z-index: 3;*/
    margin-left: 55px;
    padding-top: 20px;
    width: 215px;
    float: left;
}

#contentBox .sortingBox
{
    padding-left: 5px;
    padding-top: 55px; /*float: right;*/
    min-width: 300px;
    margin-left: 275px;
}

#contentBox .txtSortByTitle
{
    font-size: 9px;
    color: Black;
}

#sortBy
{
    margin: 0px 0px 0px -10px;
    height: 16px;
    min-width: 100px;
}

#sortBy .bkgCurrent
{
    /*display: inline;*/
    background: url('./img/currentBorder.png') no-repeat;
    width: 87px; /* padding: 5px 0px 0px -5px;*/ /*margin-right: 25px;*/
    margin-top: 5px;
}





#sortBy .menu
{
    /*width: 100px;*/ /*display: inline;*/
    height: 16px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#sortBy .current
{
    font-weight: bolder; /*display: inline;*/
    color: Black;
    font-style: italic;
    font-size: 11px;
}

#sortBy .txt
{
    font-style: italic;
    font-size: 11px;
    color: #666666;
    padding-bottom: 5px;
}



#contName
{
    padding-top: 25px;
}

#pageName
{
    padding: 15px 12px 10px 0px;
    width: 190px;
    min-height: 30px;
    border-right: 4px solid #999999;
    text-align: right;
}

#pageName .txtPageName
{
    font-style: italic;
    font-size: 20px;
    color: #666666;
    font-weight: bold;
    line-height: 20px;
}


#pager
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px; /*position: relative;*/
    width: 100px; /* padding-top: -30px;*/ /* margin-top: -55px;*/
}

#pager .txtPager
{
    color: Black;
    font-size: 13px;
}

#searchBox
{
    margin: 55px 0px 0px 19px;
    width: 150px;
}

#searchBox .searchTitle
{
    line-height: 20px;
    text-align: center;
    font-size: 11px;
}



#searchField
{
    bottom: 2px;
    display: block;
    height: 17px;
    width: 120px; /*float: left;*/
    padding: 0px 0px 0px 5px;
    font: Verdana, Arial, Helvetica, sans-serif bold;
    font-size: 12px;
    color: Black;
    border: none;
    background: none;
}

#bkgSearchField
{
    margin-left: 10px;
    width: 128px;
    height: 17px;
    background: url('./img/searchField.gif') no-repeat;
}

#contentWrapper
{
    position: relative;
    z-index: 2;
    padding: 65px 70px 0px 0px; /*min-height: 600px;*/
    left: 75px;
    
}


#leftMenu
{
    width: 145px;
    padding: 20px 0px 0px 10px;
    color: Gray;
    text-align: right;
}
#leftMenu div.subMenuItem
{
    text-align: right;
    padding: 0 5px;
    width: 125px;
    margin-top: 5px;
    line-height: 13px;
}

#leftMenu .txtLeftMenu
{
    color: #999999;
    font-size: 13px;
}

#leftMenu .currentMain
{
    color: #999966;
    font-weight: bold;
}

.leftMenuElement
{
    margin-top: 12px;
}

.leftMenuElement span{
    color: #999966;
    font-weight: bold;
}



#leftMenu div.subMenuItem.current
{
    color: #ffffcc;
    font-size: 12px;
    font-weight: bold;
}

#leftMenu .txtSubMenuItem
{
    color: #666666;
    font-size: 12px;
}

#subGroups
{
    margin: 12px 0px 25px 0px;
}


#rightBox
{
    width: 295px;
    position: relative;
    z-index: 2;
}

#subGroups li
{
    list-style-type: none;
}

#bubbleNew
{
    position: relative;
    z-index: 2;
    width: 295px;
}

#bubbleNew
{
    /*position: relative;     z-index: 2;*/
    width: 172px;
    height: 54px;
    background: url('./img/bubbleNew.png') no-repeat;
    margin-left: auto;
    margin-top: 55px;
    text-align: center;
    line-height: 17px; /*top: 55px;*/
}

#bubbleNew .txtBubbleNew
{
    color: #333333;
    font-size: 13px;
}
#bubbleText
{
    width: 140px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 7px;
}


#brand
{
    /* position: relative;     z-index: 2; */
    margin: 115px 0px 0px 155px;
    width: 120px;
}

#brand .txtBrand
{
    font-size: 15px;
    font-weight: bold;
    color: #3399ff;
}

#brandBanners
{
    /* position: relative;     z-index: 2;  */
    width: 128px;
    margin-top: 15px;
    margin-left: auto;
}

.banners
{
    width: 128px;
    height: 37px;
    margin-bottom: 7px;
}

.productItem
{}
