.titleLink, .attributeLabel, .attributeValue, .txtDetails, .linkDetails, .txtSimilarItems
{
    font-family: Arial, Helvetica, sans-serif;
}

.productItem {margin-bottom:50px; float: left; margin-right: 62px;}
 .productItem .text{/*padding: 10px 0px 0px 10px; width: 160px;*/ position:absolute; line-height: 12px;}
 .productItem .img{position: relative;}
 .productItem .newItem
{
     height:9px; width: 43px; right:0px; position:absolute;
     bottom: 5px;
     background:url(../../Content/LislelliStyles/img/new.gif) no-repeat;
     }
  #contentWrapper{padding-right:0;}
  
  .productItem .titleLink
  { color: #3399ff; font-size: 12px;}
  
  .productItem .itemDescription
  
  { padding-top: 5px;}
  
  
  
  .productItem .attributeLabel {color: #999999; font-size: 11px;}
  .productItem .attributeValue {color: Black; font-size: 11px;}
  
  
  
  .productModal {margin-top: 50px; width: 600px;}
  #imgProduct {float: left; width: 365px;}
 
  #productDescription {width: 210px; margin-left: 375px;}
  
  #productDescription .title {padding-bottom: 15px;}
  #productDescription .attributes {line-height: 20px;}
  #productDescription .titleLink { color: #3399ff; font-size: 18px;}
  #productDescription .attributeLabel {color: #999999; font-size: 15px;}
  #productDescription .attributeValue {color: Black; font-size: 15px;}
  
  #productDescription .details {padding-top: 40px;}
  #productDescription .txtDetails {font-size: 12px;}
  #productDescription .linkDetails {font-size: 12px; color: #3399ff;}
  
  #imagePreviews { margin: 10px 0px 0px 14px; width: 262px; }
  .imageItem {float:left; margin-left: 12px; /*width: 110px;*/} 
  
  #similarItems {margin-top: 70px; background:url(../../Content/LislelliStyles/img/separator.png) no-repeat; width: 570px; height: 20px; background-position: bottom;}
  
  #similarItems .txtSimilarItems {font-size: 15px; color: #666666; font-style: italic;} 
  
  #similarItemsBox { margin: 20px 0px 20px 20px;}
  
  #similarItemsBox .itemBox{float: left; margin-right: 22px;}
  #similarItemsBox .titleLink { color: #3399ff; font-size: 12px;}
  #similarItemsBox .similarImg {width: 160px; height: 107px;}
  #similarItemsBox .similarDescription {width: 160px;}
  
  #similarItemsBox .similarDescription {line-height: 12px;}
  #similarItemsBox .attributeLabel {color: #999999; font-size: 11px;}
  #similarItemsBox .attributeValue {color: Black; font-size: 11px;}