.txtDescription, .txtLink
{
    font-family: Arial, Helvetica, sans-serif;
}

.productItem {margin-bottom:50px; float: left; margin-right: 62px;}
 .productItem .text{/*padding: 10px 0px 0px 10px; width: 160px;*/ position:absolute; }
 .productItem .img{position: relative;}
 .productItem .newItem
{
     height:9px; width: 43px; right:0px; position:absolute;
     bottom: 5px;
     background:url(../../Content/LislelliStyles/img/new.gif) no-repeat;
     }
  #contentWrapper{padding-right:0;}
  
  .productItem .txtLink
  { color: #3399ff; font-size: 12px;}
  
  .productItem .txtDescription
  
  { font-size: 11px;}