#myQueue{width:400px; height:400px; border:1px solid #aaa; overflow:auto;}
#upload{position:absolute; margin-top:20px; z-index:200; background:white;}

.catalogueImage{float:left; position : relative; margin:10px;}
.catalogueImage div{position:absolute;}
.catalogueImage div.sortOrder{left:3px; top:3px;}
.catalogueImage div.delete{right:3px; top:3px;}
.catalogueImage div.sortOrder input{width:20px;}